@use "../../a/settings/settings";
@use "../../from-dictionary/block-name/block-name";
@use "../../from-dictionary/color/color";
@use "../../utils/mixin";

// Panel
//
// Weight: 1240
//
// Retired:
//
// Styleguide Panel

.#{block-name.$uiPanel} {

  $this: &;

  @include mixin.flex(column);
  background-color: color.$white;

  &__content {
    // margin: 0 $panel-main-padding;
    position: relative;
    flex: 1 1 auto;
    @include mixin.flex(column);
    &--row {
      flex-direction: row;
    }
  }

  &__button-close {
    margin: 0 settings.$panel-main-padding;
  }

  &__header {
    @include mixin.flex();
    padding: settings.$panel-main-padding;
  }

  &__header-title {
    flex: 1 1 100%;
    font-weight: bold;
    text-overflow: ellipsis;
    color: settings.$folder-menu-text-color;
    padding-right: settings.$padding-normal;
  }

  &--has-scroll {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  // &--has-close {
  //   #{$this}__content {
  //     margin-right: $panel-main-padding;
  //   }
  // }


  // &--has-close:not(&--has-title) {
  //   #{$this}__content {
  //     margin-right: $panel-main-padding;
  //   }
  // }

  &--bg-dark {
    background-color: settings.$panel-dark-bg-color;
  }
  &--border {
    border: settings.$panel-border;
  }

}