// Navigation
//
// Weight: 1310
//
// Styleguide Navigation

/* stylelint-disable no-descending-specificity */
/* stylelint-disable declaration-block-no-duplicate-properties */

.#{$uiNavigation} {

  $this: &;
  $this-button: #{$this}__menu-button;
  $this-toolbar: #{$this}__button-toolbar;
  $this-filler: #{$this}__button-filler;
  $this-collapser: #{$this}__button-collapser;
  $this-transformation: #{$this}__transformation;

  $collapser--size: 20px;
  $collapser-icon--default-font-size: $a-default-font-size;
  $collapser-icon--size: 7px;
  $collapser-icon--color: color-cp("dark-white");
  $collapser-icon--width: 1px;
  --collapser-icon-transform-position: translate(2px, 0) rotate(135deg);
  --collapser-icon-animation-transform-position: translate(0, 0) rotate(135deg);



  --navigation-font-size-default: 14;
  --navigation-width-default: calc(300px / var(--navigation-font-size-default));
  --navigation-width-collapsed: 50px;

  $navigation-color-background: color-cp("brand-blue");
  $navigation-color-text-default: color-cp("dark-white");

  $tokens-navigation-button: (
  'button': (
    '--mint-blue': (
      'default': (
        'color': color-cp("paint-gray"),
        'background-color': $button-mint-blue-default-background-color,
        'border': 1px solid transparent
      ),
      'hover': (
        'color': color-cp("white"),
        'background-color': $button-mint-blue-hover-background-color,
        'text-decoration': none
      ),
      'active': (
        'color': color-cp("white"),
        'background-color': $button-mint-blue-active-background-color,
        'box-shadow': $button-mint-blue-active-box-shadow,
        'text-decoration': none
      ),
      'focus': (
        'color': color-cp("white"),
        'border-color': transparent,
        'box-shadow': $button-mint-blue-focus-box-shadow,
        'text-decoration': none
      ),
      'disabled': (
        'background-color': $button-mint-blue-disabled-background-color,
        'border-color': transparent,
        'box-shadow': $button-mint-blue-disabled-box-shadow,
        'opacity': $button-mint-blue-disabled-opacity,
        'filter': $button-mint-blue-disabled-filter,
        'cursor': $button-mint-blue-disabled-cursor,
        'text-decoration': none
      ),
      'inactive': (
        'background-color': $button-mint-blue-inactive-background-color,
        'border-color': transparent,
        'box-shadow': $button-mint-blue-inactive-box-shadow,
        'cursor': $button-mint-blue-inactive-cursor,
        'text-decoration': none
      )
    ),
    '--toolbar': (
      'default': (
        'color': color-cp("paint-gray"),
        'background-color': color("brand-primary"),
        'border': 1px solid transparent,
        'text-decoration': none
      ),
      'hover': (
        'color': color-cp("white"),
        'background-color': $button-mint-blue-hover-background-color,
        'text-decoration': none
      ),
      'active': (
        'color': color-cp("white"),
        'background-color': $button-mint-blue-active-background-color,
        'box-shadow': $button-mint-blue-active-box-shadow,
        'text-decoration': none
      ),
      'focus': (
        'color': color-cp("white"),
        'border-color': transparent,
        'box-shadow': $button-mint-blue-focus-box-shadow,
        'text-decoration': none
      ),
      'disabled': (
        'background-color': $button-mint-blue-disabled-background-color,
        'border-color': transparent,
        'box-shadow': $button-mint-blue-disabled-box-shadow,
        'opacity': $button-mint-blue-disabled-opacity,
        'filter': $button-mint-blue-disabled-filter,
        'cursor': $button-mint-blue-disabled-cursor,
        'text-decoration': none
      ),
      'inactive': (
        'background-color': $button-mint-blue-inactive-background-color,
        'border-color': transparent,
        'box-shadow': $button-mint-blue-inactive-box-shadow,
        'cursor': $button-mint-blue-inactive-cursor,
        'text-decoration': none
      )
    ),
    '--filler': (
      'default': (
        'text-decoration': none
      ),
      'hover': (
        'text-decoration': none
      ),
      'active': (
        'text-decoration': none
      ),
      'focus': (
        'text-decoration': none
      ),
      'disabled': (
        'text-decoration': none
      ),
      'inactive': (
        'text-decoration': none
      )
    ),
    '--collapser': (
      'default': (
        'color': color-cp("paint-gray"),
        'background-color': color("brand-blue"),
        'border': 1px solid color("progress-bar"),
        'box-shadow': 2px 2px 4px -2px rgba(0,0,0,0.62),
        'text-decoration': none
      ),
      'hover': (
        'color': color-cp("white"),
        'background-color': $button-mint-blue-hover-background-color,
        'text-decoration': none
      ),
      'active': (
        'color': color-cp("white"),
        'background-color': $button-mint-blue-active-background-color,
        'box-shadow': $button-mint-blue-active-box-shadow,
        'text-decoration': none
      ),
      'focus': (
        'color': color-cp("white"),
        'border-color': transparent,
        'box-shadow': $button-mint-blue-focus-box-shadow,
        'text-decoration': none
      ),
      'disabled': (
        'text-decoration': none
      ),
      'inactive': (
        'text-decoration': none
      )
    )
  ),
  'button-icon': (
    '--mint-blue': (
      'default': (
        'color': color-cp("paint-gray")
      ),
      'hover': (
        'color': color-cp("white")
      ),
      'active': (
        'color': color-cp("white")
      ),
      'focus': (
        'color': color-cp("white")
      ),
      'disabled': (
        'color': color-cp("white")
      ),
      'inactive': (
        'color': color-cp("white")
      )
    ),
    '--toolbar': (
      'default': (
        'color': color-cp("paint-gray")
      ),
      'hover': (
        'color': color-cp("white")
      ),
      'active': (
        'color': color-cp("white")
      ),
      'focus': (
        'color': color-cp("white")
      ),
      'disabled': (
        'color': color-cp("white")
      ),
      'inactive': (
        'color': color-cp("white")
      )
    ),
    '--filler': (
      'default': (
        'color': color-cp("paint-gray")
      ),
      'hover': (
        'color': color-cp("white")
      ),
      'active': (
        'color': color-cp("white")
      ),
      'focus': (
        'color': color-cp("white")
      ),
      'disabled': (
        'color': color-cp("white")
      ),
      'inactive': (
        'color': color-cp("white")
      )
    ),
    '--collapser': (
      'default': (
        'color': color-cp("paint-gray")
      ),
      'hover': (
        'color': color-cp("white")
      ),
      'active': (
        'color': color-cp("white")
      ),
      'focus': (
        'color': color-cp("white")
      ),
      'disabled': (
        'color': color-cp("white")
      ),
      'inactive': (
        'color': color-cp("white")
      )
    )
  )
);

@keyframes show-intention {
  0%   {transform: var(--collapser-icon-transform-position)}
  90% {transform: var(--collapser-icon-animation-transform-position)}
}

  display: flex;
  flex-direction: column;
  background-color: $navigation-color-background;
  color: color-cp("dark-white");
  position: relative;
  width: 300px;
  height: 100%;
  #{$this-transformation}:hover, &:has(#{$this-transformation}:hover) {
    #{$this-collapser}-content {
      background-color: color("brand-primary");
      text-decoration: none;
      &::after {
        animation-name: show-intention;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-duration: 1.25s;
      }
    }
  }

  @mixin make-navigation-button-from-tokens($modifier: '--mint-blue', $class-fragment: $this-button) {

    $class-state-map: (
      "&": "default",
      "&:hover": "hover",
      "&#{$class-fragment}--hover": "hover",
      "&:focus": "focus",
      "&#{$class-fragment}--focus": "focus",
      "&:active": "active",
      "&#{$class-fragment}--active": "active",
      "&[disabled]": "disabled",
      "&#{$class-fragment}--disabled": "disabled",
      "&#{$class-fragment}--inactive": "inactive"
    );

    @include a-button--clean;

    @each $mod, $state in $class-state-map {
      @include make-navigation-button-state-from-token($mod, $modifier, $state, $class-fragment);
    }

  }

  @mixin make-navigation-button-state-from-token($state-fragment, $modifier, $state, $class-fragment) {
    #{$state-fragment} > #{$class-fragment}-content {

      $schema-color: map-deep-get($tokens-navigation-button, "button", $modifier, $state);

      @each $element, $color-value in $schema-color {
        #{$element}: $color-value;
      }
    }
    #{$state-fragment} #{$class-fragment}-icon {
      $schema-icon-color: map-deep-get($tokens-navigation-button, "button-icon", $modifier, $state);
      @each $element, $color-value in $schema-icon-color {
        #{$element}: $color-value;
      }
    }
  }

  &--collapsed {
    --collapser-icon-transform-position: translate(-1px, 0) rotate(-45deg);
    --collapser-icon-animation-transform-position: translate(1px, 0) rotate(-45deg);
    width: var(--navigation-width-collapsed);
    max-width: var(--navigation-width-collapsed);
    min-width: var(--navigation-width-collapsed);
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    line-height: normal;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
  }

  &__menu-button {
    align-items: start;
    padding: 0;
    cursor: pointer;
    text-decoration: none !important;
    &--focus,
    &:focus {
      outline: none;
      & > #{$this}__menu-button-content {
        @include a--focus;
      }
    }
    @include make-navigation-button-from-tokens("--mint-blue", $this-button);
  }

  &__button-toolbar {
    align-items: start;
    padding: 0;
    cursor: pointer;
    text-decoration: none !important;
    &--focus,
    &:focus {
      outline: none;
      & > #{$this}__button-toolbar {
        @include a--focus;
      }
    }
    @include make-navigation-button-from-tokens("--toolbar", $this-toolbar);
  }

  &__button-filler {
    padding: 0;
    cursor: pointer;
    flex: 1 1 auto;
    text-decoration: none !important;
    &--focus,
    &:focus {
      outline: none;
      & > #{$this}__button-filler {
        @include a--focus;
      }
    }
    @include make-navigation-button-from-tokens("--filler", $this-filler);
  }

  &__button-collapser {
    position: absolute;
    right: -5px;
    bottom: 65px;
    padding: 0;
    cursor: pointer;
    text-decoration: none !important;
    &--focus,
    &:focus {
      outline: none;
      & > #{$this}__button-collapser {
        @include a--focus;
      }
    }
    @include make-navigation-button-from-tokens("--collapser", $this-collapser);
  }

  &__button-toolbar-content {
    display: flex;
    position: relative;
    width: 100%;
    height: 55px;
    align-items: center;
    justify-content: flex-start;
    padding: 0 $space-normal 0 $space-large;
    gap: 10px;
    line-height: 1.15;
    transition: color 0.15s ease-out, background-color 0.15s ease-out;
    &:focus {
      outline: none;
    }
  }

  &__button-filler-content {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 0;
    &:focus {
      outline: none;
    }
  }

  &__button-collapser-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $collapser--size;
    height: $collapser--size;
    border-radius: 3px;
    padding: 0;
    &:focus {
      outline: none;
    }
    &::after {
      content: "";
      display: block;
      box-sizing: border-box;
      height: $collapser-icon--size;
      min-height: $collapser-icon--size;
      width: $collapser-icon--size;
      min-width: $collapser-icon--size;
      border-style: solid ;
      border-color:  $collapser-icon--color;
      border-width: 0 $collapser-icon--width $collapser-icon--width 0;
      transform: var(--collapser-icon-transform-position);
      transition: transform 0.3s;
    }
  }

  &#{$this}--collapsed {
    #{$this-collapser} {
      #{$this-collapser}-content {
        &::after {
          transform: var(--collapser-icon-transform-position);
        }
      }
    }
  }


  &__menu-button-content {
    display: flex;
    position: relative;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: flex-start;
    padding: 0 $space-normal 0 $space-large;
    gap: 10px;
    line-height: 1.15;
    transition: color 0.15s ease-out, background-color 0.15s ease-out;
    &:focus {
      outline: none;
    }
  }

  &__menu-button-icon {
    color: lighten(color("cornflower-blue"), 15%);
  }

  &__separator-light {
    display: flex;
    height: 1px;
    max-height: 1px;
    min-height: 1px;
    border-top: 1px dotted color-cp("cornflower-blue");
    margin: $space-small 0;
  }

  &__section-title {
    display: flex;
    min-height: 45px;
    align-items: center;
    padding: 0 $space-normal 0 $space-normal*2;
    color: lighten(color("cornflower-blue"), 10%);
  }
}

/* stylelint-enable */