@use "sass-true/sass/assert";
@use "sass-true/sass/module";
@use "sass-true/sass/test";
@use "map-deep-get";

$test-map: (
  "test-foo": (
    "test-bar": (
      "test-banana": (
        color: red
      )
    )
  )
);

$test-bar: (
  "test-banana": (
    color: red
  )
);

$test-banana: (
  color: red
);

@include module.test-module('The [map-deep-get] function') {
  @include test.test('returns correct deep map value 1') {
    @include assert.assert-equal(
      map-deep-get.map-deep-get($test-map, "test-foo", "test-bar"),
      $test-bar
    );
  }
  @include test.test('returns correct deep map value 1') {
    @include assert.assert-equal(
      map-deep-get.map-deep-get($test-map, "test-foo", "test-bar", "test-banana"),
      $test-banana
    );
  }
}