@use "sass:color";
@use "../../a/settings/settings";
@use "../../../../from-dictionary/stylesheets/block-name/block-name";
@use "../../../../from-dictionary/stylesheets/block/button";
@use "../../../../from-dictionary/stylesheets/color/color" as color-color;
@use "../../utils/functions/color" as functions-color;
@use "../../utils/functions/color-cp";
@use "../../utils/functions/map-deep-get";
@use "../../utils/mixin";

// Calendar
//
// Weight: 1150
//
// Styleguide Calendar

/* stylelint-disable no-descending-specificity */

.#{block-name.$uiCalendar} {

  $this: &;

  @include mixin.flex(wrap);
  padding: 1px 0 0 1px;
  width: 250px;

  // @mixin calendar__button() {
  //   @include flex(j-center, a-center);
  //   margin: -1px 0 0 -1px;
  //   width: 14.285714286%;
  //   padding-top: 4%;
  //   padding-bottom: 4%;
  //   border: map-deep-get($tokens-button, "button", "--default", "default", "border");

  //   line-height: 1;
  //   cursor: pointer;
  //   &--light {
  //     background-color: color("white");
  //   }
  //   &:hover {
  //     background-color: color("light-gray");
  //   }
  //   &:focus {
  //     @include a--focus;
  //   }
  //   &:active {
  //     background-color: lighten(color("pale-blue"), 3%);
  //   }
  //   &:disabled {
  //     cursor: default;
  //     opacity: $switch-button-selected-disabled-opacity;
  //     box-shadow: none;
  //   }
  //   &--#{$class-active} {
  //     background-color: $brand-blue;
  //     border-left-color: $brand-blue;
  //     border-top-color: $brand-blue;
  //     color: $white;
  //     transition: background 0.5s, border 0.5s;
  //     &:hover {
  //       background-color: darken($switch-button-selected-bg-color, 5%);
  //     }
  //   }

  //   border-radius: 0;

  //   &:nth-child(1) {
  //     border-radius: 3px 0 0 0;
  //   }
  //   &:nth-child(7) {
  //     border-radius: 0 3px 0 0;
  //   }
  //   &:nth-child(28), &:nth-child(31) {
  //     border-radius: 0 0 3px 0;
  //   }
  //   &:nth-child(29) {
  //     border-radius: 0 0 0 3px;
  //   }
  // }

  @mixin calendar__button(
      $active-background-color: color-cp.color-cp("brand-blue"),
      $active-hover-background-color: color.adjust(settings.$switch-button-selected-bg-color, $lightness: -5%)) {
    @include mixin.flex(j-center, a-center);
    border-radius: 0;
    margin: -1px 0 0 -1px;
    width: 14.285714286%;
    padding-top: 4%;
    padding-bottom: 4%;
    border: map-deep-get.map-deep-get(button.$tokens-button, "button", "--default", "default", "border");

    line-height: 1;
    cursor: pointer;
    // &--light {

    // }
    &:hover:not(:disabled) {
      background-color: functions-color.color("light-gray");
    }
    &:focus {
      @include mixin.a--focus;
    }
    &:active:not(:disabled) {
      background-color: color.adjust(functions-color.color("pale-blue"), $lightness: 3%);
    }
    &:disabled {
      cursor: default;
      opacity: settings.$switch-button-selected-disabled-opacity;
      box-shadow: none;
    }
    &--#{settings.$class-active} {
      background-color: $active-background-color;
      border-left-color: $active-background-color;
      border-top-color: $active-background-color;
      color: color-color.$white;
      transition: background 0.5s, border 0.5s;
      &:hover {
        background-color: $active-hover-background-color;
      }
    }

    &:nth-child(1) {
      border-radius: 3px 0 0 0;
    }
    &:nth-child(7) {
      border-radius: 0 3px 0 0;
    }
    &:nth-child(28), &:nth-child(31) {
      border-radius: 0 0 3px 0;
    }
    &:nth-child(29) {
      border-radius: 0 0 0 3px;
    }
  }

  &--light {
    #{$this}__button {
      background-color: functions-color.color("white");
      @include calendar__button;
    }
  }

  &--light-blue {
    #{$this}__button {
      background-color: functions-color.color("white");
      @include calendar__button(color-cp.color-cp("viking-blue"), color-cp.color-cp("viking-blue-darken-12"));
    }
  }

  &--default {
    #{$this}__button {
      background-color: color-color.$gallery;
      @include calendar__button;
    }
  }

  &--disabled {
    pointer-events: none;
    #{$this}__button {
      cursor: default;
      opacity: settings.$switch-button-selected-disabled-opacity;
      box-shadow: none;
    }
  }

  // &--small {
  //   height: $switch-button-height - ($switch-button-height / 4);
  //   #{$this}__button {
  //     padding-left: $switch-button-padding - ($switch-button-padding / 3);
  //     padding-right: $switch-button-padding - ($switch-button-padding / 3);
  //   }
  // }
}

/* stylelint-enable */