@mixin a-opacity($i: 5) {
  opacity: unquote("#{$i / 10}#{$a-important}");
}

$a-positions: static, fixed, absolute, relative, sticky;

@mixin a-position($position: static) {
  position: #{$position}#{$a-important};
}
