@use "sass:string";
@use "settings";

@mixin a-opacity($i: 5) {
  opacity: string.unquote("#{$i / 10}#{settings.$a-important}");
}

$a-overflows: visible, hidden, scroll, auto;

@mixin a-overflow($i: visible) {
  overflow: string.unquote("#{$i}#{settings.$a-important}");
}

$a-visibilities: visible, hidden, collapse;

@mixin a-visibility($i: visible) {
  visibility: string.unquote("#{$i}#{settings.$a-important}");
}
