// Card
//
// Weight: 1230
//
// Styleguide Card

.#{$uiCard} {

  $this: &;

  @mixin alert__make-container-color($bg-color: color("brand-primary-alt"), $text-color: color("white")) {
    $border-color: if($bg-color == color("white"), color("gray-white"), darken($bg-color, 5%));
    background-color: $bg-color;
    color: $text-color;
    border: 1px solid $border-color;
  }

  @mixin status($color) {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      max-width: $shape-width-status;
      min-width: $shape-width-status;
      height: 100%;
      border-radius: $shape-border-radius-inner 0 0 $shape-border-radius-inner;
      left: 0;
      top: 0;
      background-color: color($color);
    }
    &#{$this}--brand-border {
      &::before {
        border-radius: ($shape-border-radius-inner - 1px) 0 0 ($shape-border-radius-inner - 1px);
      }
    }
  }

  @mixin bubble($color: color("white"), $position-vertical: "top", $position-horizontal: "left") {
    $tick-size: 15px;
    position: relative;
    margin-top: $tick-size;
    &::before {
      content: "";
      position: absolute;
      display: flex;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: $tick-size + 2px 0 0 $tick-size + 2px;
      border-color: transparent transparent transparent $color-default-border;
      top: -$tick-size - 2px;
      left: calc(25% - 1px);
    }
    &::after {
      content: "";
      position: absolute;
      display: flex;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: $tick-size 0 0 $tick-size;
      border-color: transparent transparent transparent color("white");
      top: -$tick-size;
      left: 25%;
    }
    // &#{$this}--brand-border {
    //   &::before {
    //     border-radius: ($shape-border-radius-inner - 1px) 0 0 ($shape-border-radius-inner - 1px);
    //   }
    // }
  }

  border: 1px solid $border;
  border-radius: $card-border-radius;
  background-color: color("white");
  box-shadow: $a-card-shadow;

  &--status {
    &-pending {
      @include status("status-pending");
    }
    &-on-track {
      @include status("on-track");
    }
    &-minor-disruption {
      @include status("minor-disruption");
    }
    &-major-disruption {
      @include status("major-disruption");
    }
    &-upcoming {
      @include status("upcoming");
    }
    &-discontinued {
      @include status("discontinued");
    }
    &-completed {
      @include status("completed");
    }
  }

  #{$this}__header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 55px;
    font-size: 16px;
    border-bottom: $shape-border $color-default-border;
    border-radius: $shape-border-radius $shape-border-radius 0 0;
    margin-top: 0;
    padding: 0 10px;
  }

  #{$this}__content {
    width: 100%;
    min-height: 75px;
    overflow: auto;
    padding: 15px 10px;
  }

  #{$this}__footer {
    border-top: $shape-border $color-default-border;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 55px;
    border-radius: 0 0 $shape-border-radius $shape-border-radius;
    padding: 0 10px;
  }

  &--plain {
    background-color: color("alabaster");
    border: 1px solid darken(color("alabaster"), 5%);
    box-shadow: none;
  }

  &--brand-border {
    border: 2px solid color("brand-primary");
  }

  &--brand {
    background-color: color("brand-primary");
    border: 1px solid darken(color("brand-primary"), 5%);
  }

  &--no-shadow {
    box-shadow: none;
  }

  &--shadow-strong {
    box-shadow: $a-card-shadow-strong;
  }

  &--shadow-xstrong {
    box-shadow: $a-card-shadow-xstrong;
  }

  &--bubble-top-left {
    @include bubble();
  }

  &--alert-warning {
    @include alert__make-container-color(lighten(color("picklist"), 15%), color("potters-clay"));
  }
}