@use "sass:color";
@use "../../a/settings/settings";
@use "../../../../from-dictionary/stylesheets/block-name/block-name";
@use "../../../../from-dictionary/stylesheets/color/color" as color-color;
@use "../../../../from-dictionary/stylesheets/color/color-default";
@use "../../../../from-dictionary/stylesheets/shape/shape";
@use "../../utils/functions/color" as functions-color;
@use "../../utils/functions/color-cp";

// Card
//
// Weight: 1230
//
// Styleguide Card

.#{block-name.$uiCard} {

  $this: &;

  @mixin alert__make-container-color($bg-color: functions-color.color("brand-primary-alt"), $text-color: functions-color.color("white")) {
    $border-color: if($bg-color == functions-color.color("white"), functions-color.color("gray-white"), color.adjust($bg-color, $lightness: -10%));
    background-color: $bg-color;
    color: $text-color;
    border: 1px solid $border-color;
  }

  @mixin status($color) {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      max-width: shape.$shape-width-status;
      min-width: shape.$shape-width-status;
      height: 100%;
      border-radius: shape.$shape-border-radius-inner 0 0 shape.$shape-border-radius-inner;
      left: 0;
      top: 0;
      background-color: functions-color.color($color);
    }
    &#{$this}--brand-border {
      &::before {
        border-radius: (shape.$shape-border-radius-inner - 1px) 0 0 (shape.$shape-border-radius-inner - 1px);
      }
    }
  }

  @mixin bubble($color: functions-color.color("white"), $position-vertical: "top", $position-horizontal: "left") {
    $tick-size: 15px;
    position: relative;
    margin-top: $tick-size;
    &::before {
      content: "";
      position: absolute;
      display: flex;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: $tick-size + 2px 0 0 $tick-size + 2px;
      border-color: transparent transparent transparent color-default.$color-default-border;
      top: -$tick-size - 2px;
      left: calc(25% - 1px);
    }
    &::after {
      content: "";
      position: absolute;
      display: flex;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: $tick-size 0 0 $tick-size;
      border-color: transparent transparent transparent functions-color.color("white");
      top: -$tick-size;
      left: 25%;
    }
    // &#{$this}--brand-border {
    //   &::before {
    //     border-radius: ($shape-border-radius-inner - 1px) 0 0 ($shape-border-radius-inner - 1px);
    //   }
    // }
  }

  border: 1px solid color-color.$border;
  border-radius: settings.$card-border-radius;
  background-color: functions-color.color("white");
  box-shadow: settings.$a-card-shadow;

  &--status {
    &-pending {
      @include status("status-pending");
    }
    &-on-track {
      @include status("on-track");
    }
    &-minor-disruption {
      @include status("minor-disruption");
    }
    &-major-disruption {
      @include status("major-disruption");
    }
    &-upcoming {
      @include status("upcoming");
    }
    &-discontinued {
      @include status("discontinued");
    }
    &-completed {
      @include status("completed");
    }
  }

  #{$this}__header {
    display: flex;
    // justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 55px;
    font-size: 16px;
    border-bottom: shape.$shape-border color-default.$color-default-border;
    border-radius: shape.$shape-border-radius shape.$shape-border-radius 0 0;
    margin-top: 0;
    padding-left: 10px;
  }

  #{$this}__content {
    width: 100%;
    // min-height: 75px;
    overflow: auto;
    // padding: 15px 10px;
  }

  #{$this}__footer {
    border-top: shape.$shape-border color-default.$color-default-border;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 55px;
    border-radius: 0 0 shape.$shape-border-radius shape.$shape-border-radius;
    padding-left: 10px;
  }

  &--elements {
    display: flex;
    flex-direction: column;
    & > #{$this}__header, & > #{$this}__footer {
      flex: 0 0 auto;
    }
  }

  &--plain {
    background-color: functions-color.color("alabaster");
    border: 1px solid color.adjust(functions-color.color("alabaster"), $lightness: -5%);
    box-shadow: none;
  }

  &--active {
    background-color: color.adjust(functions-color.color("pale-blue"), $lightness: 3%);
    border: 1px solid functions-color.color("brand-primary");
  }

  &--selected {
    border: 1px solid functions-color.color("brand-primary");
    box-shadow: 0px 0px 0px 3px color-cp.color-cp("pale-blue");
  }

  &--brand-border {
    border: 2px solid functions-color.color("brand-primary");
  }

  &--muted {
    filter: opacity(0.4) grayscale(0.8) brightness(0.9);
    border-color: functions-color.color("athens-gray");
  }

  &--brand {
    background-color: functions-color.color("brand-primary");
    border: 1px solid color.adjust(functions-color.color("brand-primary"), $lightness: -5%);
  }

  &--no-shadow {
    box-shadow: none;
  }

  &--no-border {
    border: none;
  }

  &--shadow-strong {
    box-shadow: settings.$a-card-shadow-strong;
  }

  &--shadow-xstrong {
    box-shadow: settings.$a-card-shadow-xstrong;
  }

  &--bubble-top-left {
    @include bubble();
  }

  &--alert-warning {
    @include alert__make-container-color(color.adjust(functions-color.color("picklist"), $lightness: 15%), functions-color.color("potters-clay"));
    #{$this}__footer {
      border-top-color: color.adjust(functions-color.color("picklist"), $lightness: -5%);
    }
  }
}