// Autosize Input
//
// Weight: 1180
//
// Styleguide Autosize Input

/* stylelint-disable no-descending-specificity */

.#{$uiAutosizeInput} {

  $this: &;

  &--clean {
    > input {
      border: 1px dotted currentColor;
      background-color: transparent;
      &:focus {
        outline: 0;
      };
    }
  }
  &--inline {
    > input {
      padding: 0;
      font-size: inherit;
      color: inherit;
      // background-color: color("white");
      height: $a-default-control-height;
      background-image: none;
      border: 1px solid transparent;
      border-radius: $a-default-border-radius;
      transition: $a-focus-transition;
      background-color: transparent;
      overflow: hidden;
      max-width: 100%;
      text-overflow: ellipsis;
      &:focus {
        // outline: 0;
        // border: $a-border-input;
        @include a--focus();
      };
      &:hover {
        border: 1px dotted color-cp("viking-blue");
      }
      &[disabled], &[readonly] {
        background-color: color("gallery");
        opacity: 1;
      }
    }
  }
  // &[disabled], &[readonly], &--disabled {
  //   background-color: color("gallery");
  //   opacity: 1;
  // }

  // &[disabled], &--disabled
  // fieldset[disabled] & {
  //   cursor: $a-cursor-disabled;
  // }
}

/* stylelint-enable */