// Badge
//
// Weight: 1280
//
// Styleguide Badge

/* stylelint-disable no-descending-specificity */

.#{$uiBadge} {

  $this: &;

  $badge--default-font-size: $a-default-font-size - 3;
  $badge--height-default: 25px;
  $badge--height-small: 20px;
  $badge--height-xsmall: 15px;
  $badge--height-large: 30px;
  $badge--height-xlarge: 35px;

  @function svg-badge($color: color("white")) {
    @return url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' %3E%3Cpath fill='#{encodecolor($color)}' d='M0 252.118V48C0 21.49 21.49 0 48 0h204.118a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882L293.823 497.941c-18.745 18.745-49.137 18.745-67.882 0L14.059 286.059A48 48 0 0 1 0 252.118zM112 64c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z' %3E%3C/path%3E%3C/svg%3E");
  }

  @mixin badge__make-tag($text-color: color("white")) {
    height: $badge--height-small;
    font-size: $badge--default-font-size;
    border-radius: $badge--height-small / 2;
    position: relative;
    padding: 0 10px 0 23px;
    color: $text-color;
    border-width: 0;
    &::after {
      content: svg-badge($text-color);
      display: block;
      width: 12px;
      height: 100%;
      border-radius: 50%;
      position: absolute;
      margin: 3px 5px 0 7px;
      left: 0;
      top: 0;
      border: 1px solid transparent;
    }
  }

  @mixin badge__make-container-color($bg-color: color("brand-primary-alt"), $text-color: color("white")) {
    $border-color: if($bg-color == color("white"), color("plain-gray"), $bg-color);
    background-color: $bg-color;
    color: $text-color;
    border: 1px solid $border-color;
  }

  font-size: $badge--default-font-size + 1;
  padding: 1px 10px;
  display: inline-flex;
  height: $badge--height-default;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  line-height: normal;
  white-space: nowrap;

  @include badge__make-container-color(color("white"), color("default"));

  &--data {
    font-size: 13px;
    height: 22px;
    width: 22px;
    flex: 0 0 22px;
    border-radius: 0;
    border: 2px solid currentColor;
  }

  &--info {
    @include badge__make-container-color(color("viking-blue"), color("white"));
  }

  &--ok {
    @include badge__make-container-color(color("green"), color("white"));
  }

  &--error {
    @include badge__make-container-color(color("major-disruption"), color("white"));
  }

  &--warning {
    @include badge__make-container-color(color("overdue"), color("white"));
  }

  &--status {
    &-pending {
      @include badge__make-container-color(color("status-pending"), color("white"));
    }
    &-on-track {
      @include badge__make-container-color(color("on-track"), color("white"));
    }
    &-minor-disruption {
      @include badge__make-container-color(color("minor-disruption"), color("default"));
    }
    &-major-disruption {
      @include badge__make-container-color(color("major-disruption"), color("white"));
    }
    &-upcoming {
      @include badge__make-container-color(color("upcoming"), color("white"));
    }
    &-discontinued {
      @include badge__make-container-color(color("discontinued"), color("white"));
    }
    &-completed {
      @include badge__make-container-color(color("completed"), color("white"));
    }
  }

  &--circle {
    height: $badge--height-default;
    width: $badge--height-default;
    min-width: $badge--height-default;
    padding: 1px;
    border-radius: 50%;
  }

  &--round {
    border-radius: $badge--height-default / 2;
  }

  &--small {
    height: $badge--height-small;
    font-size: $badge--default-font-size - 1;
    &#{$this}--round {
      border-radius: $badge--height-small / 2;
    }
    &#{$this}--circle {
      width: $badge--height-small;
      min-width: $badge--height-small;
      padding: 1px;
    }
  }

  &--xsmall {
    height: $badge--height-xsmall;
    font-size: $badge--default-font-size - 2;
    &#{$this}--round {
      border-radius: $badge--height-xsmall / 2;
    }
    &#{$this}--circle {
      width: $badge--height-xsmall;
      min-width: $badge--height-xsmall;
      padding: 0;
    }
  }

  &--large {
    font-size: $a-default-font-size;
    height: $badge--height-large;
    padding: 0 $space-large;

    &#{$this}--round {
        border-radius: $badge--height-large / 2;
    }

    &#{$this}--circle {
      width: $badge--height-large;
      min-width: $badge--height-large;
      padding: 0;
    }
  }

  &--xlarge {
    font-size: $a-default-font-size;
    height: $badge--height-xlarge;
    padding: 0 $space-large;

    &#{$this}--round {
        border-radius: $badge--height-xlarge / 2;
    }

    &#{$this}--circle {
      width: $badge--height-xlarge;
      min-width: $badge--height-xlarge;
      padding: 0;
    }
  }

  &--inline {
    height: auto;
    padding: 2px 5px;
  }

  &--tag {
    @include badge__make-tag()
  }
  &--tag-light {
    @include badge__make-tag(color("default"))
  }

  &--counter {
    height: $badge--height-xsmall;
    font-size: $badge--default-font-size;
    font-weight: normal;
    padding: 0 5px;
    text-align: center;
    min-width: 22px;
    border-radius: $badge--height-xsmall / 2;
    border-width: 0;
    color: color("white");
    background-color: desaturate(lighten(color("brand-primary"), 25%), 50%);
  }
}

/* stylelint-enable */