@use "../../a/settings/settings";
@use "../../from-dictionary/block-name/block-name";
@use "../../from-dictionary/color/color";
@use "../../utils/mixin";

// Info
//
// Weight: 1270
//
// Styleguide Info

.#{block-name.$uiInfo} {

  $this: &;
  $height-element: settings.$space-step * 7;

  @include mixin.flex();
  align-items: center;
  position: relative;

  &__content {
    border: settings.$panel-border;
    padding: settings.$space-small settings.$space-normal;
    display: inline-block;
    overflow: hidden;
    flex: 1 1 100%;
    line-height: 1.5;
  }

  &--condition {
    #{$this}__content {
      background-color: color.$condition;
    }
  }

  &--line {
    height: $height-element;
    min-height: $height-element;
    max-height: $height-element;
    align-items: stretch;
    #{$this}__content {
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &:hover {
      #{$this}__content {
        position: absolute;
        top: 0;
        width: 100%;
        height: auto;
        min-height: $height-element;
        white-space: normal;
      }
    }
  }
}