// Checkbox
//
// Weight: 1110
//
// Styleguide Checkbox

@use "sass:color";
@use "sass:math";
@use 'checkbox-partials';
@use "../../../../from-dictionary/stylesheets/block-name/block-name";
@use "../../../../from-dictionary/stylesheets/color/color" as color-color;
@use "../../utils/functions/color" as functions-color;
@use "../../utils/mixin";

/* stylelint-disable no-descending-specificity */
/* stylelint-disable declaration-block-no-duplicate-properties*/

.#{block-name.$uiCheckbox} {

  $this: &;
  $check-size: 1.3em;
  $check-tick-base-size: 0.4em;
  $toggle-base-size: 1.4em;
  $toggle-circle-size: $toggle-base-size + 0.15em;
  $toggle-fine-position: -0.15em;

  appearance: none;

  @at-root input[type="checkbox"]#{$this}, input[type="radio"]#{$this} {
    margin: 0;
  }

  &--check, &--toggle, &--radio {
    font-size: 12px;
    &:hover {
      cursor: pointer;
    }
  }
  &--check {
    @include checkbox-partials.box($check-size, $check-size);
    border-radius: 1px;
    background-color: color-color.$white;
  }
  &--radio {
    display: inline-block;
    position: relative;
    width: $check-size + 0.2em;
    min-width: $check-size + 0.2em;
    max-width: $check-size + 0.2em;;
    height: $check-size + 0.2em;
    min-height: $check-size + 0.2em;
    max-height: $check-size + 0.2em;
    border-radius: 50%;
    background-color: color-color.$white;
    border: 1px solid functions-color.color("santas-gray");
  }
  &--toggle {
    @include checkbox-partials.box($toggle-base-size * 2.2, $toggle-base-size, color-color.$santas-gray);
    background-color: color-color.$medium-gray;
    border-radius: math.div($toggle-base-size, 2);
    margin: 0.15em;
    box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
    transition: background 1s ease-in, border-color 0.4s ease-in;;
    &::after {
      @include checkbox-partials.box($toggle-circle-size, $toggle-circle-size, color-color.$santas-gray);
      content: "";
      position: absolute;
      background-color: color-color.$white;
      border-radius: math.div($toggle-base-size, 2);
      left: $toggle-fine-position;
      top: $toggle-fine-position;
      transition: left 0.1s ease-in;
    }
  }
  @at-root input[type="checkbox"]:checked#{$this}, input[type="radio"]:checked#{$this}, #{$this}#{$this}--checked#{$this} {
    &--check {
      &::after {
        @include checkbox-partials.box($check-tick-base-size, $check-tick-base-size * 2, color-color.$on-track);
        content: "";
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        position: absolute;
        right: 0.35em;
        top: 0.06em;
      }
    }
    &--radio {
      border-color: functions-color.color("on-track");
      &::after {
        content: "";
        position: absolute;
        display: block;
        background-color: functions-color.color("on-track");
        width: $check-size - 0.4em !important;
        height: $check-size - 0.4em !important;
        min-width: $check-size - 0.4em !important;
        min-height: $check-size - 0.4em !important;
        max-width: $check-size - 0.4em !important;
        max-height: $check-size - 0.4em !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
      }
    }
    &--toggle {
    background-color: color-color.$on-track;
    border-color: color.adjust(color-color.$on-track, $lightness: -5%);
      &::after {
        left: ($toggle-base-size * 2.2) - 1.5em;
        right: $toggle-fine-position;
      }
    }
  }

  @at-root input[type="checkbox"][disabled]#{$this}, input[type="radio"][disabled]#{$this}, #{$this}#{$this}--disabled#{$this} {
    &--check, &--toggle, &--radio {
      @extend %ui-checkbox-disable-state-painter;
    }
    &--radio {
      border-color: functions-color.color("plain-gray") !important;
      &:after {
        background-color: functions-color.color("plain-gray") !important;
      }
    }
  }

  @at-root input[type="checkbox"][disabled][checked]#{$this}, input[type="radio"][disabled][checked]#{$this}, #{$this}#{$this}--disabled#{$this}#{$this}--checked#{$this} {
    &--toggle {
      border-color: functions-color.color("plain-gray") !important;
      background-color: functions-color.color("condition") !important;
      &:after {
        background-color: functions-color.color("gallery") !important;
      }
    }
  }

  @at-root input[type="checkbox"]:indeterminate#{$this}, input[type="radio"]:indeterminate#{$this}, #{$this}#{$this}--indeterminate#{$this} {
    &--check {
      &::after {
        content: "";
        display: inline-block;
        position: absolute;
        width: $check-size - 0.4em;
        min-width: $check-size - 0.4em;
        max-width: $check-size - 0.4em;
        height: $check-size - 0.4em;
        min-height: $check-size - 0.4em;
        max-height: $check-size - 0.4em;
        background-color: color-color.$plain-gray;
        left: 0.12em;
        top: 0.12em;
      }
    }
  }
  @at-root input[type="checkbox"], input[type="radio"] {
    &:focus#{$this} {
      outline: none;
      @include mixin.a--focus();
    }
  }

  @at-root input[type="checkbox"], input[type="radio"] {
    &:focus:checked#{$this} {
      outline: none;
      &--toggle {
        @include mixin.a--focus(
          true,
          functions-color.color("green"),
          functions-color.color("white"),
          0.25
        );
      }
      &--check {
        @include mixin.a--focus(
          true,
          functions-color.color("on-track"),
          functions-color.color("on-track"),
          0.2
        );
      }
      &--radio {
        @include mixin.a--focus(
          true,
          functions-color.color("on-track"),
          functions-color.color("on-track"),
          0.3
        );
      }
    }
  }

  &--disabled {
    @extend %ui-checkbox-disable-state-painter;
  }
}
/* stylelint-enable */