@use "sass:color";
@use "sass:math";
@use "../../a/settings/settings";
@use "../../../../from-dictionary/stylesheets/block-name/block-name";
@use "../../utils/functions/color" as functions-color;
@use "../../utils/functions/color-cp";

// Placeholder
//
// Weight: 1360
//
// Styleguide Placeholder

.#{block-name.$uiPlaceholder} {

  $this: &;

  $normal-height: 35px;
  $small-height: 25px;
  $xsmall-height: 10px;

  display: block;
  height: 35px;
  width: 100%;
  max-width: 100%;
  background: color-cp.color-cp("gallery");
  border-radius: settings.$a-default-border-radius;

  &--small {
    height: $small-height;
  }

  &--xsmall {
    height: $xsmall-height;
  }

  &--round {
    border-radius: math.div($normal-height, 2);
  }

  &--small-round {
    height: $small-height;
    border-radius: math.div($small-height, 2);
  }

  &--xsmall-round {
    height: $xsmall-height;
    border-radius: math.div($xsmall-height, 2);
  }

  &--darken {
    background: color.adjust(functions-color.color("gallery"), $lightness: -5%);
  }

}