// Input Group Legacy
//
// Weight: 1191
//
// Retired:
//
// Styleguide Input Group Legacy

.#{$uiInputGroupLegacy} {

  $this: &;

  @include flex(a-center);
  font-size: $a-default-font-size;
  position: relative;
  min-width: 0;
  // isolation: isolate; Should not be usolated because of conflict
  // z-index: 0;

  &__input {
    width: 100%;
    flex: 1 1 auto;
  }

  &__before {
    flex: 0 0 $a-padding-input-icon;
    @include flex(j-center);
  }

  &__after {
    flex: 0 0 $a-padding-input-icon;
    @include flex(j-center);
  }

  &__error {
    flex: 0 0 $a-padding-input-icon;
    @include flex(j-center);
  }

  &__dropdown {
    margin-top: - $a-border-width-input;
    @include flex(column);
    border: $a-border-input;
    border-radius: $a-default-border-radius;
    background-color: color("white");
    position: absolute;
    top: 100%;
    left:0;
  }

  &--before {
    #{$this}__before {
      margin-right: - $a-padding-input-icon;
      color: color("medium-gray");
      z-index: 1;
    }
    #{$this}__input {
      padding-left: $a-padding-input-icon;
    }
  }

  &--after {
    #{$this}__input {
      padding-right: $a-padding-input-icon;
    }
    #{$this}__after {
      margin-left: - $a-padding-input-icon;
    }
  }

  &--error-inside {
    #{$this}__input {
      padding-right: $a-padding-input-icon;
    }
    #{$this}__error {
      margin-left: - $a-padding-input-icon;
      @include flex(j-center);
    }
    &#{$this}--after {
      #{$this}__input {
        padding-right: $a-padding-input-icon * 2;
      }
      #{$this}__error {
        margin-left: - $a-padding-input-icon * 2;
        @include flex(j-center);
      }
      #{$this}__after {
        margin-left: 0;
      }
    }
  }
}