@use "../../a/settings/settings";
@use "../../../../from-dictionary/stylesheets/block-name/block-name";
@use "../../utils/functions/color";
@use "../../utils/mixin";

// Input Group Legacy
//
// Weight: 1191
//
// Retired:
//
// Styleguide Input Group Legacy

.#{block-name.$uiInputGroupLegacy} {

  $this: &;

  @include mixin.flex(a-center);
  font-size: settings.$a-default-font-size;
  position: relative;
  min-width: 0;
  // isolation: isolate; Should not be usolated because of conflict
  // z-index: 0;

  &__input {
    width: 100%;
    flex: 1 1 auto;
  }

  &__before {
    flex: 0 0 settings.$a-padding-input-icon;
    @include mixin.flex(j-center);
  }

  &__after {
    flex: 0 0 settings.$a-padding-input-icon;
    @include mixin.flex(j-center);
  }

  &__error {
    flex: 0 0 settings.$a-padding-input-icon;
    @include mixin.flex(j-center);
  }

  &__dropdown {
    margin-top: - settings.$a-border-width-input;
    @include mixin.flex(column);
    border: settings.$a-border-input;
    border-radius: settings.$a-default-border-radius;
    background-color: color.color("white");
    position: absolute;
    top: 100%;
    left:0;
  }

  &--before {
    #{$this}__before {
      margin-right: - settings.$a-padding-input-icon;
      color: color.color("medium-gray");
      z-index: 1;
    }
    #{$this}__input {
      padding-left: settings.$a-padding-input-icon;
    }
  }

  &--after {
    #{$this}__input {
      padding-right: settings.$a-padding-input-icon;
    }
    #{$this}__after {
      margin-left: - settings.$a-padding-input-icon;
    }
  }

  &--error-inside {
    #{$this}__input {
      padding-right: settings.$a-padding-input-icon;
    }
    #{$this}__error {
      margin-left: - settings.$a-padding-input-icon;
      @include mixin.flex(j-center);
    }
    &#{$this}--after {
      #{$this}__input {
        padding-right: settings.$a-padding-input-icon * 2;
      }
      #{$this}__error {
        margin-left: - settings.$a-padding-input-icon * 2;
        @include mixin.flex(j-center);
      }
      #{$this}__after {
        margin-left: 0;
      }
    }
  }
}