@use "sass:color";
@use "../../a/settings/settings";
@use "../../../../from-dictionary/stylesheets/block-name/block-name";
@use "../../utils/functions/color" as functions-color;
@use "../../../../from-dictionary/stylesheets/color/color" as color-color;
@use "../../utils/mixin";

// Menu Folder
//
// Weight: 1260
//
// Styleguide Menu Folder

.#{block-name.$uiMenuFolder} {

  $this: &;
  font-size: settings.$folder-menu-root-text-size1;

  @include mixin.flex(stretch);
  flex: 0 0 auto;
  background-color: color-color.$white;
  margin-bottom: settings.$panel-main-padding;
  &::before, &::after {
    content: '';
    min-width: 5px;
    border-top: settings.$folder-menu-border;
    border-bottom: settings.$folder-menu-border;
  }
  &::after {
    @include mixin.flexGrow(1);
  }
  &__content {
    padding-left: settings.$folder-menu-button-padding;
    padding-right: settings.$folder-menu-button-padding;
    height: 100%;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
  }
  &__button {
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 0;
/*     padding-bottom: $folder-menu-button-padding / 2;
    padding-top: $folder-menu-button-padding / 2; */
    height: 45px;
    border-top: settings.$folder-menu-border;
    border-bottom: settings.$folder-menu-border;
    font-weight: 600;
    color: settings.$folder-menu-text-color;
    &--close {
      margin-left: auto;
      order: 99;
      & > #{$this}__content {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
    &:disabled {
      color: settings.$font-color-for-disabled;
      cursor: default;
    }
    &:hover {
      color: color.adjust(settings.$folder-menu-text-color, $lightness: -10%);
    }
    &:focus {
      outline: none;
      & > #{$this}__content {
        @include mixin.a--focus;
      }
    }
    // &:focus:not(#{$this}__button--#{$class-active}) {
    //   @extend %a--focus;
    // }
    &--#{settings.$class-active} {
      border-left: settings.$folder-menu-border;
      border-right: settings.$folder-menu-border;
      background-color: settings.$folder-menu-selected-color;
      border-bottom-color: settings.$folder-menu-selected-color;
      color: functions-color.color("brand-primary-alt");
      &:focus {
        border-bottom: 1px solid transparent;
      }
    }

  }
  &--contrast {
    // font-size: $folder-menu-root-text-size2;
    height: auto;
    margin: 0;
    &::before, &::after {
      border-top: none;
      min-width: 10px;
    }
    #{$this}__button {
      // font-size: 1em;
      line-height: 1;
      border-top: none;
      // padding-top: $folder-menu-button-padding / 2;
      // padding-bottom: $folder-menu-button-padding / 2;
      &--#{settings.$class-active} {
        border-bottom: settings.$folder-menu-selected-color;
        background-color: settings.$switch-button-selected-bg-color;
        color: color-color.$white;
      }
    }
  }
  &--line {
    height: auto;
    margin: 0;
    border-bottom: settings.$folder-menu-border;
    &::before, &::after {
      border: none;
      min-width: 0;
    }
    #{$this}__button {
      border: none;
      border-bottom: 4px solid transparent;
      transition: border-bottom 0.3s;
      &--#{settings.$class-active} {
        border-bottom: 4px solid settings.$switch-button-selected-bg-color;
        background-color: transparent;
        color: functions-color.color("brand-primary-alt");
        // color: $white;
      }
    }
  }
}