// Menu Folder
//
// Weight: 1260
//
// Styleguide Menu Folder

.#{$uiMenuFolder} {

  $this: &;
  font-size: $folder-menu-root-text-size1;

  @include flex(stretch);
  flex: 0 0 auto;
  background-color: $white;
  margin-bottom: $panel-main-padding;
  &::before, &::after {
    content: '';
    min-width: 5px;
    border-top: $folder-menu-border;
    border-bottom: $folder-menu-border;
  }
  &::after {
    @include flexGrow(1);
  }
  &__button {
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    background-color: transparent;
    padding-left: $folder-menu-button-padding;
    padding-right: $folder-menu-button-padding;
/*     padding-bottom: $folder-menu-button-padding / 2;
    padding-top: $folder-menu-button-padding / 2; */
    height: 35px;
    border-top: $folder-menu-border;
    border-bottom: $folder-menu-border;
    font-weight: 600;
    color: $folder-menu-text-color;
    &:disabled {
      color: $font-color-for-disabled;
      cursor: default;
    }
    &:hover {
      color: darken($folder-menu-text-color, 10%);
    }
    // &:focus:not(#{$this}__button--#{$class-active}) {
    //   @extend %a--focus;
    // }
    &--#{$class-active} {
      border-left: $folder-menu-border;
      border-right: $folder-menu-border;
      background-color: $folder-menu-selected-color;
      border-bottom-color: $folder-menu-selected-color;
      &:focus {
        border-bottom: 1px solid transparent;
      }
    }
    &--close {
      margin-left: auto;
      order: 99;
    }
  }
  &--contrast {
    // font-size: $folder-menu-root-text-size2;
    height: auto;
    margin: 0;
    &::before, &::after {
      border-top: none;
      min-width: 10px;
    }
    #{$this}__button {
      // font-size: 1em;
      line-height: 1;
      border-top: none;
      padding-top: $folder-menu-button-padding / 2;
      padding-bottom: $folder-menu-button-padding / 2;
      &--#{$class-active} {
        border-bottom: $folder-menu-selected-color;
        background-color: $switch-button-selected-bg-color;
        color: $white;
      }
    }
  }
  &--line {
    height: auto;
    margin: 0;
    border-bottom: $folder-menu-border;
    &::before, &::after {
      border: none;
      min-width: 0;
    }
    #{$this}__button {
      border: none;
      border-bottom: 4px solid transparent;
      transition: border-bottom 0.3s;
      &--#{$class-active} {
        border-bottom: 4px solid $switch-button-selected-bg-color;
        background-color: transparent;
        // color: $white;
      }
    }
  }
}