.storybook-page {
  margin: 0 auto;
  padding: 48px 20px 64px;
  max-width: 640px;
  color: #0f172a;
  font-size: 15px;
  line-height: 26px;
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.storybook-page h2 {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 4px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.1;
  color: #09142c;
}

.storybook-page p {
  margin: 1em 0;
}

.storybook-page a {
  color: #1b88f9;
  text-decoration: none;
}

.storybook-page a:hover {
  text-decoration: underline;
}

.storybook-page ul {
  margin: 1em 0;
  padding-left: 30px;
}

.storybook-page li {
  margin-bottom: 8px;
}

.storybook-page .tip {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  border-radius: 1em;
  background: #e7fdd8;
  padding: 4px 12px;
  color: #357a14;
  font-weight: 700;
  font-size: 11px;
  line-height: 12px;
}

.storybook-page .tip-wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 22px;
}

.storybook-page .tip-wrapper svg {
  display: inline-block;
  vertical-align: top;
  margin-top: 3px;
  margin-right: 4px;
  width: 12px;
  height: 12px;
}

.storybook-page .tip-wrapper svg path {
  fill: #1ea7fd;
}
