@use "../../a/settings/settings";
@use "../../../../from-dictionary/stylesheets/block-name/block-name";
@use "../../utils/mixin";

// Form
//
// Weight: 1210
//
// Retired:
//
// Styleguide Form

.#{block-name.$uiForm} {

  $this: &;
  font-size: settings.$folder-menu-root-text-size1;

  @include mixin.flex(stretch);
  // margin-top: $panel-main-padding;
  // margin-bottom: $panel-main-padding;
  // height: calc(100% - #{$panel-main-padding * 2});

  &--2-columns {
    &::before {
      content: "";
      align-self: stretch;
      margin: 0 30px;
      border-left: settings.$panel-border;
      order: 1;
    }
  }

  &--1-column {
    flex-direction: column;
  }

  &__column {
    @include mixin.flex(column);
    flex: 1 1 auto;
    @each $number in (0, 2, 5) {
      &:nth-child(n+#{$number}) {
        order: #{$number};
      }
    }
  }
}