
// sass-true testing
@use 'sass-true/sass/report';

// Blocks Names
@use 'from-dictionary/block-name/block-name';

// Tokens based variables
@use 'from-dictionary/shape/shape';
@use 'from-dictionary/z/z';
@use 'from-dictionary/color/color';
@use 'from-dictionary/color/color-map';
@use 'from-dictionary/color/color-default';
@use 'custom-properties/custom-properties';
// @import 'from-dictionary/color/color-kss';
@use 'from-dictionary/block/button';

@use 'utils/functions';
@use 'utils/functions-specs';

// Initial setting
@use 'a/settings/settings';

/* Utils */
@use 'utils/variables';
@use 'utils/mixin';

/* Debug */
@use 'utils/debug';

// @import 'a/settings/color-settings';
@use 'a/settings/filter-settings';
@use 'a/settings/visibility-settings';
// @import 'a/settings/border-settings';

/* Reset */
@use 'reset/index';

// 3rd party
/* stylelint-disable */
@use 'overlayscrollbars/css/OverlayScrollbars';
/* stylelint-enable */

/* Blocks */
// Forms
// @import 'blocks/form';
// @import 'blocks/form-row';
//Table
// @import 'blocks/table';
// Containers
// @import 'blocks/card';
// @import 'blocks/panel';
// @import 'blocks/info';
// Buttons & controls
// @import 'blocks/checkbox/index';
// @import 'blocks/button/index';
// @import 'blocks/button-switch';
// @import 'blocks/collapser/index';
// Inputs
// @import 'blocks/input-text';
// @import 'blocks/input-group';
// @import 'blocks/select/index';
// @import 'blocks/calendar';
// Menus
// @import 'blocks/menu-dropdown';
// @import 'blocks/menu-folder';
// Specific Shared components
// @import 'blocks/visual';
// @import 'blocks/show-on-hover';
// @import 'blocks/focus';
// Data Source components
// @import 'blocks/s3-uploader';
// Icons
// @import 'blocks/icon-stack';
// @import 'blocks/icon-svg';
// Info Elements
// @import 'blocks/badge/index';
// @import 'blocks/alert/index';
// Loader
// @import 'blocks/loader/index';
// Third party lib elements styling
// @import 'blocks/autosize-input';

@use 'from-dictionary/block-name/block-name-imports';

/* Abstracts */
// .a {
//   @import 'a/index';
// }

/* Overwrites */
@use 'overwrite/overwrite';
@use 'overwrite/overwrite-fr';
// @import 'overwrite/overwrite-pa';
// @import 'overwrite/overwrite-pl';

/* Context-specific styles */
@use 'context/publish-focus';