@use "sass:math";
@use "../../a/settings/settings";
@use "../../from-dictionary/block-name/block-name";
@use "../../from-dictionary/color/color-default";
@use "../../utils/functions/color";

// Bottom Toolbar
//
// Weight: 1233
//
// Styleguide Bottom Toolbar

.#{block-name.$uiBottomToolbar} {

  $this: &;

  border-top: 1px dotted color-default.$color-default-border;
  background-color: color.color("white");
  // box-shadow: 0px -3px 3px 0 rgba(0,0,0,0.05);
  height: 65px;
  width: 100%;
  min-height: 65px;
  display: flex;
  padding: 0 10px;
  align-items: center;
  position: sticky;
  bottom: 0;

  &--plain {
    background-color: transparent;
    border-top-color: color.color('border');
    // box-shadow: none;
  }

  &--darker {
    background-color: color.color("gallery");
    // border-top-color: color('border');
    // box-shadow: none;
  }

  &--push-right {
    padding-left: settings.$base-form-label-min-width + (math.div(10px, 14px) * 1rem);
  }

  &--push-right-long {
    padding-left: settings.$base-form-label-min-width + settings.$base-form-margin-step + (math.div(10px, 14px) * 1rem);
  }
}