@use "../../a/settings/settings";
@use "../../../../from-dictionary/stylesheets/block-name/block-name";
@use "../../utils/mixin";

// Form Row
//
// Weight: 1220
//
// Styleguide Form Row

.#{block-name.$uiFormRow} {

  $this: &;

  @include mixin.flex(a-center);
  margin-bottom: settings.$form-row-margin-bottom;
  align-self: flex-start;

  &__label {
    padding-right: settings.$padding-small;
    color: var(--color-default-label);
    flex: 0 0 settings.$base-form-label-min-width;
    line-height: normal;
    &--long {
      flex-basis: settings.$base-form-label-min-width + settings.$base-form-margin-step;
    }
    &--xlong {
      flex-basis: settings.$base-form-label-min-width + (2 * settings.$base-form-margin-step);
    }
    &--short {
      flex-basis: settings.$base-form-label-min-width - settings.$base-form-margin-step;
    }
    &--free {
      flex-basis: auto;
      padding-right: settings.$padding-normal;
    }
    &--disabled {
      --color-default-label: var(--color-default-label-disabled);
    }
  }

  &--baseline {
    align-items: baseline;
  }

  &--full {
    width: 100%;
  }

  &--column {
    @include mixin.flex(column, a-start);
    #{$this}__label {
    padding-right: 0;
    flex: 0 0 auto;
    margin-bottom: settings.$margin-small;
    }
  }

  &--push-right {
    padding-left: settings.$base-form-label-min-width;
  }

  &--push-right-long {
    padding-left: settings.$base-form-label-min-width + settings.$base-form-margin-step;
  }

  &--push-right-xlong {
    padding-left: settings.$base-form-label-min-width + (2 * settings.$base-form-margin-step);
  }

  &--push-right-short {
    padding-left: settings.$base-form-label-min-width - settings.$base-form-margin-step;
  }

  &--push-down {
    padding-top: settings.$base-form-margin-step;
  }

  &--height-fixed {
    height: settings.$label-fixed-height;
  }

  &--no-bootstrap, &--clean {
    label {
      margin-bottom: 0;
    }
  }
}