@use "../../../../from-dictionary/stylesheets/block-name/block-name";

// Placeholder
//
// Weight: 1360
//
// Styleguide Placeholder

.#{block-name.$uiProgress} {

  $this: &;

  // {
    --progress-color: #4fcac2; /* the progress color */
    --progress-color-start: var(--progress-color); /* the progress color */
    --progress-color-end: #30a79f; /* the progress color */
    --progress-color-gradient: linear-gradient(90deg, var(--progress-color-start), var(--progress-color-end)); /* the progress color */
    --progress-background: #eeeeee;
    --progress-backround-dull: #e5e5e5;/* the background color */
    --progress-border: 1px solid #aaa;
    --progress-border-radius: 10em;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: var(--progress-border);
    // width: 200px;
    // margin: 0 10px;
    height: 7px;
    border-radius: var(--progress-border-radius);
    background: var(--progress-background);
  // }
  &::-webkit-progress-bar {
    border-radius: var(--progress-border-radius);
    background: var(--progress-background);
  }
  &::-webkit-progress-value {
    border-radius: var(--progress-border-radius);
    background: var(--progress-color-gradient);
  }
  &::-moz-progress-bar {
    border-radius: var(--progress-border-radius);
    background: var(--progress-color-gradient);
  }

  &--placeholder {
    --progress-color : var(--progress-backround-dull);
    --progress-color-start : var(--progress-backround-dull);
    --progress-color-end : var(--progress-backround-dull);
    --progress-border: 1px solid var(--progress-backround-dull);
    --progress-background: var(--progress-backround-dull);
    --progress-border-radius: 0;
    // &::-moz-progress-bar {
    //   border-radius: var(--progress-border-radius);
    //   background: var(--progress-backround-dull);
    // }
    // &::-webkit-progress-value {
    //   border-radius: 10em;
    //   background: var(--progress-backround-dull);
    // }
    // &::-webkit-progress-bar {
    //   border-radius: 10em;
    //   background: var(--progress-backround-dull);
    // }
  }
}