// Placeholder
//
// Weight: 1360
//
// Styleguide Placeholder

.#{$uiProgress} {

  $this: &;

  // {
    --color: rgb(77, 179, 52); /* the progress color */
    --background: rgb(231, 231, 231); /* the background color */

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #aaa;
    // width: 200px;
    // margin: 0 10px;
    height: 7px;
    border-radius: 10em;
    background: var(--background);
  // }
  &::-webkit-progress-bar {
    border-radius: 10em;
    background: var(--background);
  }
  &::-webkit-progress-value {
    border-radius: 10em;
    background: var(--color);
  }
  &::-moz-progress-bar {
    border-radius: 10em;
    background: var(--color);
  }

  // label {
  //   font-size: 20px;
  //   font-weight: bold;
  //   display: block;
  //   margin: 20px 0;
  // }

  // $normal-height: 35px;
  // $small-height: 25px;
  // $xsmall-height: 10px;

  // display: block;
  // height: 35px;
  // width: 100%;
  // max-width: 100%;
  // background: color-cp("gallery");
  // border-radius: $a-default-border-radius;

  // &--small {
  //   height: $small-height;
  // }

  // &--xsmall {
  //   height: $xsmall-height;
  // }

  // &--round {
  //   border-radius: $normal-height / 2;
  // }

  // &--small-round {
  //   height: $small-height;
  //   border-radius: $small-height / 2;
  // }

  // &--xsmall-round {
  //   height: $xsmall-height;
  //   border-radius: $xsmall-height / 2;
  // }

  // &--darken {
  //   background: darken(color("gallery"), 5%);
  // }

}