// Status Filter
//
// Weight: 1035
//
// Styleguide Status Filter

/* stylelint-disable no-descending-specificity */

.#{$uiStatusFilter} {

  $this: &;

  @mixin filter-status($color) {
    // position: relative;
    background-color: color($color);
    @if $color == "minor-disruption" {
      color: color("default");
    } @else {
      color: color("white");
    }
    &:hover:not(:disabled) {
      background-color: lighten(color($color), 5%);
      border: 1px solid darken(color($color), 5%);;
    }
  }
  @mixin filter-status-after($color) {
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      bottom: -5px;
      left: 0;
      height: 3px;
      background-color: color($color);
    }
  }

  $this-button-padding: 5px;
  $this-button-height: 25px;
  $border-status-filter: 1px solid color("white");
  $status-filter-radius: 0px;

  // @include flex(stretch);
  display: flex;

  &__button {
    // background-color: $white;
    height: $this-button-height;
    padding-left: $this-button-padding;
    padding-right: $this-button-padding;
    border: $border-status-filter;
    position: relative;
    display: flex;
    align-items: center;
    // border-right: 0;
    line-height: normal;
    padding-top: 2px;
    cursor: pointer;
    &:first-child {
      border-top-left-radius: $status-filter-radius;
      border-bottom-left-radius: $status-filter-radius;
      // &#{$this}__button--active {
      //   border-left-color: darken($switch-button-selected-bg-color, 5%);
      // }
    }
    &:last-child {
      border-top-right-radius: $status-filter-radius;
      border-bottom-right-radius: $status-filter-radius;
      // border-right: $switch-button-border;
      // &#{$this}__button--active {
      //   border-right-color: darken($switch-button-selected-bg-color, 5%);
      // }
    }
    // &:hover:not(:disabled) {
    //   color: color("string");
    // }
    &:active {
      color: lighten(color("string"), 3%);
    }
    &:disabled {
      cursor: default;
      color: color("plain-gray");
      box-shadow: none;
    }
    &:focus {
      @include a--focus;
      // border-right-width: 0;
    }
    &:focus:last-child {
      border-right-width: 1px;
    }

    &--status {
      &-pending {
        @include filter-status("status-pending");
      }
      &-on-track {
        @include filter-status("on-track");
      }
      &-minor-disruption {
        @include filter-status("minor-disruption");
      }
      &-major-disruption {
        @include filter-status("major-disruption");
      }
      &-upcoming {
        @include filter-status("upcoming");
      }
      &-discontinued {
        @include filter-status("discontinued");
      }
      &-completed {
        @include filter-status("completed");
      }
    }
    &--active {
      &#{$this}__button--status {
        &-pending {
          @include filter-status-after("status-pending");
        }
        &-on-track {
          @include filter-status-after("on-track");
        }
        &-minor-disruption {
          @include filter-status-after("minor-disruption");
        }
        &-major-disruption {
          @include filter-status-after("major-disruption");
        }
        &-upcoming {
          @include filter-status-after("upcoming");
        }
        &-discontinued {
          @include filter-status-after("discontinued");
        }
        &-completed {
          @include filter-status-after("completed");
        }
      }
      // background-color: $switch-button-selected-bg-color;
      // color: $white;
      // transition: background 0.5s;
      // cursor: default;
      // border-top-color: darken($switch-button-selected-bg-color, 5%);
      // border-bottom-color: darken($switch-button-selected-bg-color, 5%);
      &:hover:not(:disabled) {
        // background-color: $switch-button-selected-bg-color;
        // background-color: darken($switch-button-selected-bg-color, 5%);
      }
    }
  }

  &--#{$class-disabled} {
    pointer-events: none;
    #{$this}__button {
      cursor: default;
      color: color("plain-gray");
      opacity: $switch-button-selected-disabled-opacity;
      box-shadow: none;
    }
  }
}

/* stylelint-enable */