@use "sass:color";
@use "sass:math";
@use "../../a/settings/settings";
@use "../../../../from-dictionary/stylesheets/block-name/block-name";
@use "../../../../from-dictionary/stylesheets/color/color" as color-color;
@use "../../utils/functions/color" as functions-color;
@use "../../utils/functions/color-cp";
@use "../../utils/mixin";

// Button Switch
//
// Weight: 1130
//
// Styleguide Button Switch

/* stylelint-disable no-descending-specificity */

.#{block-name.$uiButtonSwitch} {

  $this: &;
  $this-button-padding: 10px;
  $this-button-padding-small: 10px;
  $this-button-height: 35px;
  $this-button-height-small: 25px;

  $switch-button-selected-light-blue-bg-color: color-cp.color-cp("viking-blue");
  $switch-button-selected-light-blue-outline-color: color-cp.color-cp("viking-blue-darken-12");


  @include mixin.flex(stretch);
  height: $this-button-height;


  &__button {
    background-color: color-color.$white;
    padding-left: $this-button-padding;
    padding-right: $this-button-padding;
    border: settings.$switch-button-border;
    border-right: 0;
    line-height: normal;
    cursor: pointer;
    text-decoration: none;
    &:first-child {
      border-top-left-radius: settings.$switch-button-radius;
      border-bottom-left-radius: settings.$switch-button-radius;
      &#{$this}__button--active {
        border-left-color: color.adjust(settings.$switch-button-selected-bg-color, $lightness: -5%);
      }
    }
    &:last-child {
      border-top-right-radius: settings.$switch-button-radius;
      border-bottom-right-radius: settings.$switch-button-radius;
      border-right: settings.$switch-button-border;
      &#{$this}__button--active {
        border-right-color: color.adjust(settings.$switch-button-selected-bg-color, $lightness: -5%);
      }
    }
    &:hover:not(:disabled, #{$this}__button--inactive) {
      background-color: functions-color.color("light-gray");
    }
    &:active:not(:disabled, #{$this}__button--inactive) {
      background-color: color.adjust(functions-color.color("pale-blue"), $lightness: 3%);
    }
    &:disabled {
      cursor: default;
      color: functions-color.color("plain-gray");
      box-shadow: none;
    }
    &:focus {
      @include mixin.a--focus;
      border-right-width: 0;
    }
    &:focus:last-child {
      border-right-width: 1px;
    }
    @at-root a#{$this}__button--active,
    &--active {
      background-color: settings.$switch-button-selected-bg-color;
      color: color-color.$white;
      transition: background 0.5s;
      cursor: default;
      border-top-color: color.adjust(settings.$switch-button-selected-bg-color, $lightness: -5%);
      border-bottom-color: color.adjust(settings.$switch-button-selected-bg-color, $lightness: -5%);
      &:hover:not(:disabled) {
        background-color: settings.$switch-button-selected-bg-color;
        // background-color: darken($switch-button-selected-bg-color, 5%);
      }
    }


    &--inactive {
      cursor: default;
    }
  }
  @at-root a#{$this}--light-blue,
  &--light-blue {
    #{$this}__button {
      &#{$this}__button--active {
        background-color: $switch-button-selected-light-blue-bg-color;
        border-top-color: $switch-button-selected-light-blue-outline-color;
        border-bottom-color: $switch-button-selected-light-blue-outline-color;
        &:first-child {
          border-left-color: $switch-button-selected-light-blue-outline-color;
        }
        &:last-child {
          border-right-color: $switch-button-selected-light-blue-outline-color;
        }
        &:hover:not(:disabled) {
          background-color: $switch-button-selected-light-blue-bg-color;
          // background-color: darken($switch-button-selected-bg-color, 5%);
        }
      }
    }
  }

  &--round {
    #{$this}__button {
      &:first-child {
        border-top-left-radius: math.div($this-button-height, 2);
        border-bottom-left-radius: math.div($this-button-height, 2);
        &#{$this}__button--active {
          border-left-color: $switch-button-selected-light-blue-outline-color;
        }
      }
      &:last-child {
        border-top-right-radius: math.div($this-button-height, 2);
        border-bottom-right-radius: math.div($this-button-height, 2);
        &#{$this}__button--active {
          border-right-color: $switch-button-selected-light-blue-outline-color;
        }
      }
    }
  }

  &--#{settings.$class-disabled} {
    pointer-events: none;
    #{$this}__button {
      cursor: default;
      color: functions-color.color("plain-gray");
      opacity: settings.$switch-button-selected-disabled-opacity;
      box-shadow: none;
    }
  }

  &--small {
    height: $this-button-height-small;
    #{$this}__button {
      padding-left: $this-button-padding-small;
      padding-right: $this-button-padding-small;
    }
  }
}

/* stylelint-enable */