// Button Switch
//
// Weight: 1130
//
// Styleguide Button Switch

/* stylelint-disable no-descending-specificity */

.#{$uiButtonSwitch} {

  $this: &;
  $this-button-padding: 10px;
  $this-button-padding-small: 10px;
  $this-button-height: 35px;
  $this-button-height-small: 25px;

  $switch-button-selected-light-blue-bg-color: color-cp("viking-blue");
  $switch-button-selected-light-blue-outline-color: color-cp("viking-blue-darken-12");


  @include flex(stretch);
  height: $this-button-height;


  &__button {
    background-color: $white;
    padding-left: $this-button-padding;
    padding-right: $this-button-padding;
    border: $switch-button-border;
    border-right: 0;
    line-height: normal;
    cursor: pointer;
    text-decoration: none;
    &:first-child {
      border-top-left-radius: $switch-button-radius;
      border-bottom-left-radius: $switch-button-radius;
      &#{$this}__button--active {
        border-left-color: darken($switch-button-selected-bg-color, 5%);
      }
    }
    &:last-child {
      border-top-right-radius: $switch-button-radius;
      border-bottom-right-radius: $switch-button-radius;
      border-right: $switch-button-border;
      &#{$this}__button--active {
        border-right-color: darken($switch-button-selected-bg-color, 5%);
      }
    }
    &:hover:not(:disabled, #{$this}__button--inactive) {
      background-color: color("light-gray");
    }
    &:active {
      background-color: lighten(color("pale-blue"), 3%);
    }
    &:disabled {
      cursor: default;
      color: color("plain-gray");
      box-shadow: none;
    }
    &:focus {
      @include a--focus;
      border-right-width: 0;
    }
    &:focus:last-child {
      border-right-width: 1px;
    }
    @at-root a#{$this}__button--active,
    &--active {
      background-color: $switch-button-selected-bg-color;
      color: $white;
      transition: background 0.5s;
      cursor: default;
      border-top-color: darken($switch-button-selected-bg-color, 5%);
      border-bottom-color: darken($switch-button-selected-bg-color, 5%);
      &:hover:not(:disabled) {
        background-color: $switch-button-selected-bg-color;
        // background-color: darken($switch-button-selected-bg-color, 5%);
      }
    }


    &--inactive {
      cursor: default;
    }
  }
  @at-root a#{$this}--light-blue,
  &--light-blue {
    #{$this}__button {
      &#{$this}__button--active {
        background-color: $switch-button-selected-light-blue-bg-color;
        border-top-color: $switch-button-selected-light-blue-outline-color;
        border-bottom-color: $switch-button-selected-light-blue-outline-color;
        &:first-child {
          border-left-color: $switch-button-selected-light-blue-outline-color;
        }
        &:last-child {
          border-right-color: $switch-button-selected-light-blue-outline-color;
        }
        &:hover:not(:disabled) {
          background-color: $switch-button-selected-light-blue-bg-color;
          // background-color: darken($switch-button-selected-bg-color, 5%);
        }
      }
    }
  }

  &--round {
    #{$this}__button {
      &:first-child {
        border-top-left-radius: $this-button-height / 2;
        border-bottom-left-radius: $this-button-height / 2;
        &#{$this}__button--active {
          border-left-color: $switch-button-selected-light-blue-outline-color;
        }
      }
      &:last-child {
        border-top-right-radius: $this-button-height / 2;
        border-bottom-right-radius: $this-button-height / 2;
        &#{$this}__button--active {
          border-right-color: $switch-button-selected-light-blue-outline-color;
        }
      }
    }
  }

  &--#{$class-disabled} {
    pointer-events: none;
    #{$this}__button {
      cursor: default;
      color: color("plain-gray");
      opacity: $switch-button-selected-disabled-opacity;
      box-shadow: none;
    }
  }

  &--small {
    height: $this-button-height-small;
    #{$this}__button {
      padding-left: $this-button-padding-small;
      padding-right: $this-button-padding-small;
    }
  }
}

/* stylelint-enable */