// Connector
//
// Weight: 1290
//
// Styleguide Connector

.#{$uiConnector} {

  $this: &;

  display: flex;
  position: relative;

  &::before {
    content: '';
    top: 50%;
    height: 1px;
    max-height: 1px;
    width: 100%;
    position: absolute;
    border-top: 1px solid $color-default-border;
  }

  &::after {
    content: '';
    height: calc(100% + 30px);
    max-width: 1px;
    width: 1px;
    position: absolute;
    left: 0;
    top: -15px;
    border-left: 1px solid $color-default-border;
  }

  &--l-top::after {
    height: calc(50% + 15px);
    // top: ;
  }

  &--l-bottom::after {
    height: 50%;
    bottom: -15px;
    top: auto;
  }

  &--i::before {
    display: none;
  }

  &---::after {
    display: none;
  }

}