@use "../../from-dictionary/block-name/block-name";
@use "../../from-dictionary/color/color-default";
@use "../../utils/functions/color-cp";

// Connector
//
// Weight: 1290
//
// Styleguide Connector

.#{block-name.$uiConnector} {

  $this: &;

  display: flex;
  position: relative;

  &::before {
    content: '';
    top: 50%;
    height: 1px;
    max-height: 1px;
    width: 100%;
    position: absolute;
    border-top: 1px solid color-default.$color-default-border;
  }

  &::after {
    content: '';
    height: calc(100% + 30px);
    max-width: 1px;
    width: 1px;
    position: absolute;
    left: 0;
    top: -15px;
    border-left: 1px solid color-default.$color-default-border;
  }

  &--l-top::after {
    height: calc(50% + 15px);
    // top: ;
  }

  &--l-bottom::after {
    height: calc(50% + 15px);
    bottom: -15px;
    top: auto;
  }

  &--i::before {
    display: none;
  }

  &---::after {
    display: none;
  }

  &--hidden {
    visibility: hidden;
  }

  &--normal {
    height: 100%;
    // &::before {
    // }
    &::after {
      top: 0;
      height: 100%;
    }
    &#{$this}--l-top {
      height: 50%;
      &::after {
        height: 50%;
        top: 0;
      }
    }
    &#{$this}--l-bottom {
      height: 50%;
      &::after {
        height: 50%;
        bottom: 0;
        top: auto;
      }
    }
  }
  &--normal-barry {
    height: 100%;
    // &::before {
    // }
    &::after {
      top: 0;
      height: 100%;
    }
    &#{$this}--l-top {
      height: 100%;
      &::after {
        height: 50%;
        top: 0;
      }
    }
    &#{$this}--l-bottom {
      height: 100%;
      &::after {
        height: 50%;
        bottom: 0;
        top: auto;
      }
    }
  }
  &--light {
    &::before {
      border-top: 1px dotted color-cp.color-cp("cornflower-blue");
    }
    &::after {
      border-left: 1px dotted color-cp.color-cp("cornflower-blue");
    }
  }

}