// Overwrite dark theme for Overlay Scrollbar
/* stylelint-disable */
.os-theme-dark {
  & > .os-scrollbar {
    z-index: auto;
    & > .os-scrollbar-track > .os-scrollbar-handle {
      background-color: rgba(71, 64, 64, 0.25);
      &.active {
        background-color: rgba(0, 0, 0, 0.40);
      }
    }
    &:hover > .os-scrollbar-track > .os-scrollbar-handle {
      background-color: rgba(0, 0, 0, 0.30);
    }
  }
  & > .os-scrollbar-corner {
    z-index: auto;
  }
  .os-padding {
    z-index: auto;
  }
}
/* stylelint-enable */