@use "../../from-dictionary/block-name/block-name";

// Icon Stack
//
// Weight: 1310
//
// Retired:
//
// Styleguide Icon Stack

.#{block-name.$uiIconStack} {

  $this: &;

  // ENV_SHARED envisio_icon_constants.js
  &--shared {
    position: relative;
    #{$this}__icon1 {

    }
    #{$this}__icon2 {
      position: relative;
      right: 0.6em;
      top: 0.65em;
      font-size: 0.8em;
      opacity: 0.7;
    }
  }

  &__icon1 {

  }

  &__icon2 {

  }

}