@use "../../../from-dictionary/stylesheets/block-name/block-name";
@use "settings/settings";

// .#{$uiA}-size-100\% {
//   width: 100%#{$a-important};
//   height: 100%#{$a-important};
// }

// .#{$uiA}-absolute-100\% {
//   position: absolute#{$a-important};
//   width: 100%#{$a-important};
//   height: 100%#{$a-important};
// }

// .#{$uiA}-w-max-half {
//   max-width: 50%#{$a-important};
// }

// .#{$uiA}-w-half {
//   width: 50%#{$a-important};
// }

// .#{$uiA}-m-left-half {
//   margin-left: 50%#{$a-important};
// }

// .#{$uiA}-m-left-half- {
//   margin-left: -50%#{$a-important};
// }

// .#{$uiA}-m-left-full {
//   margin-left: 100%#{$a-important};
// }

// .#{$uiA}-m-left-full- {
//   margin-left: -100%#{$a-important};
// }

.#{block-name.$uiA}-f-hover-wrap:hover {
  flex-wrap: wrap#{settings.$a-important};
}

// .#{$uiA}-hide {
//   display: none#{$a-important};
// }

.#{block-name.$uiA}-vanish {
  position: fixed#{settings.$a-important};
  left: -99999px;
  top: -99999px;
  z-index: -999;
  opacity: 0;
}

// .#{$uiA}-top-40 {
//   top: 40px#{$a-important};
// }

// .#{$uiA}-top-0 {
//   top: 0#{$a-important};
// }

// .#{$uiA}-bottom-40 {
//   bottom: 40px#{$a-important};
// }

// .#{$uiA}-bottom-0 {
//   bottom: 0#{$a-important};
// }

// .#{$uiA}-bottom-0 {
//   bottom: 0#{$a-important};
// }



// .#{$uiA}-bold {
//   font-weight: bold#{$a-important};
// }

// .#{$uiA}-italic {
//   font-style: italic#{$a-important};
// }

.#{block-name.$uiA}-transition-5 {
  transition: all 0.5s#{settings.$a-important};
}

.#{block-name.$uiA}-transition-none {
  transition: unset#{settings.$a-important};
}

// .#{$uiA}-font-size-12 {
//   font-size: 12px#{$a-important};
// }

// .#{$uiA}-font-size-15 {
//   font-size: 15px#{$a-important};
// }

// .#{$uiA}-font-size-18 {
//   font-size: 18px#{$a-important};
// }


@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.#{block-name.$uiA}-animate-rotate-360 {
  animation: rotating 2s linear infinite#{settings.$a-important};
}

// .#{$uiA}-overflow-hidden {
//   overflow: hidden#{$a-important};
// }

// .#{$uiA}-inline-block {
//   display: inline-block#{$a-important};
// }

.#{block-name.$uiA}-cursor-default {
  cursor: default#{settings.$a-important};
}

.#{block-name.$uiA}-cursor-grab {
  cursor: grab#{settings.$a-important};
}

.#{block-name.$uiA}-cursor-off {
  pointer-events: none#{settings.$a-important};
}

.#{block-name.$uiA}-cursor-hover-pointer:hover {
  cursor: pointer#{settings.$a-important};
}

.#{block-name.$uiA}-outline-none {
  outline: none#{settings.$a-important};
}

.#{block-name.$uiA}-f-br {
  height: 0;
  width: 100%;
  content: '\A';
}

.#{block-name.$uiA}-f-1-gap {
  &:before {
    content: "";
    order: 1;
    flex: 0 0 20px;
    height: 0;
  }
}

.#{block-name.$uiA}-empty-hide:empty {
  display: none;
}

.#{block-name.$uiA}-absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes slideIn {
  from {
    height: 0;
  }
  to {
    height: 20px; /* your line height here */
  }
}
/* .#{block-name.$uiA}-animate-slide-down-500-enter, .#{block-name.$uiA}-animate-slide-down-500-appear, .#{block-name.$uiA}-animate-slide-down-50-enter, .#{block-name.$uiA}-animate-slide-down-50-appear {
  opacity: 0;
  transition: max-height 0.4s ease-in, opacity .3s ease-in;
  max-height: 0;
  // transition: max-height 1900ms;
}

.#{block-name.$uiA}-animate-slide-down-500-enter-active, .#{block-name.$uiA}-animate-slide-down-500-appear-active {
  // max-height: auto;
  opacity: 1;
  max-height: 500px;
}

.#{block-name.$uiA}-animate-slide-down-50-enter-active, .#{block-name.$uiA}-animate-slide-down-50-appear-active {
  // max-height: auto;
  opacity: 1;
  max-height: 50px;
}

.#{block-name.$uiA}-animate-slide-down-500-exit {
  opacity: 1;
  transition: max-height .4s ease-out, opacity .3s ease-in;
  max-height: 500px;
  // max-height: 0;
  // transition: max-height 1900ms;
}

.#{block-name.$uiA}-animate-slide-down-50-exit {
  opacity: 1;
  transition: max-height .4s ease-out, opacity .3s ease-in;
  max-height: 50px;
  // max-height: 0;
  // transition: max-height 1900ms;
}

.#{block-name.$uiA}-animate-slide-down-500-exit-active, .#{block-name.$uiA}-animate-slide-down-50-exit-active {
  max-height: 0;
  opacity: 0;
} */
