@use "sass:math";
@use "../from-dictionary/block-name/block-name";

@keyframes burnin {
  0%   {opacity: 0.4;}
  20%  {opacity: 0.6;}
  40%  {opacity: 0.8;}
  60%  {opacity: 1.0;}
  80%  {opacity: 0.8;}
  90%  {opacity: 0.6;}
  100% {opacity: 0.4;}
}

.#{block-name.$uiA}-animate-burnin {
  animation-name: burnin;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.5, 0, 1, 1);
  animation-duration: 0.7s;
}

.#{block-name.$uiA}-animate-burnin-3 {
  animation-name: burnin;
  animation-iteration-count: 3;
  animation-timing-function: cubic-bezier(.5, 0, 1, 1);
  animation-duration: 0.7s;
}

$a-slide-down-heights-set: (50, 500);
$a-sd-name: "-animate-slide-down-";
$a-popup-name: "-animate-popup";
$a-fadein-name: "-animate-fadein";
$a-fadein-name-5: "-animate-fadein-5";

@each $slide-down-height in $a-slide-down-heights-set {
  $a-sd-delta: math.div($slide-down-height, 2000);
  $a-slide-max-h: max-height (0.3 + $a-sd-delta + s) ease-in, opacity (0.2 + $a-sd-delta + s) ease-in;
  .#{block-name.$uiA+$a-sd-name+$slide-down-height}-enter, .#{block-name.$uiA+$a-sd-name+$slide-down-height}-appear {
    opacity: 0;
    transition: #{$a-slide-max-h};
    max-height: 0;
    overflow: hidden;
  }
  .#{block-name.$uiA+$a-sd-name+$slide-down-height}-enter-active, .#{block-name.$uiA+$a-sd-name+$slide-down-height}-appear-active {
    opacity: 1;
    max-height: #{$slide-down-height}px;
  }
  .#{block-name.$uiA+$a-sd-name+$slide-down-height}-exit {
    opacity: 1;
    transition: #{$a-slide-max-h};
    max-height: #{$slide-down-height}px;
  }
  .#{block-name.$uiA+$a-sd-name+$slide-down-height}-exit-active {
    max-height: 0;
    opacity: 0;
  }
}

$a-popup: transform 0.2s ease-out, opacity 0.2s ease-out;
$a-fadein: opacity 0.2s ease-out;
$a-fadein-5: opacity 0.2s ease-out, max-height 0.15s ease-out 0.1s;

.#{block-name.$uiA+$a-popup-name}-enter, .#{block-name.$uiA+$a-popup-name}-appear {
  opacity: 0;
  transform: scale(0.95);
}
.#{block-name.$uiA+$a-popup-name}-enter-active, .#{block-name.$uiA+$a-popup-name}-appear-active {
  opacity: 1;
  transform: scale(1);
  transition: #{$a-popup};
}
.#{block-name.$uiA+$a-popup-name}-exit {
  opacity: 1;
  transform: scale(1);
}
.#{block-name.$uiA+$a-popup-name}-exit-active {
  opacity: 0;
  transform: scale(0.95);
  transition: #{$a-popup};
}

.#{block-name.$uiA+$a-fadein-name}-enter, .#{block-name.$uiA+$a-fadein-name}-appear {
  opacity: 0;
}
.#{block-name.$uiA+$a-fadein-name}-enter-active, .#{block-name.$uiA+$a-fadein-name}-appear-active {
  opacity: 1;
  transition: #{$a-fadein};
}
.#{block-name.$uiA+$a-fadein-name}-exit {
  opacity: 1;
}
.#{block-name.$uiA+$a-fadein-name}-exit-active {
  opacity: 0;
  transition: #{$a-fadein};
}

.#{block-name.$uiA+$a-fadein-name-5}-enter, .#{block-name.$uiA+$a-fadein-name-5}-appear {
  opacity: 0;
  max-height: 0;
}
.#{block-name.$uiA+$a-fadein-name-5}-enter-active, .#{block-name.$uiA+$a-fadein-name-5}-appear-active {
  opacity: 1;
  max-height: 50px;
  transition: #{$a-fadein-5};
}
.#{block-name.$uiA+$a-fadein-name-5}-exit {
  opacity: 1;
  max-height: 50px;
}
.#{block-name.$uiA+$a-fadein-name-5}-exit-active {
  opacity: 0;
  max-height: 0;
  transition: #{$a-fadein-5};
}


$slide-in-data: (
  "top": translateY(10px),
  "bottom": translateY(-10px),
  "left": translateX(10px),
  "right": translateX(-10px)
);

@each $slide-in-direction, $slide-in-value in $slide-in-data {
  .#{block-name.$uiA}-animate-slide-in-#{$slide-in-direction}-2-enter, .#{block-name.$uiA}-animate-slide-in-#{$slide-in-direction}-2-appear {
    opacity: 0;
    transform: $slide-in-value;
  }

  .#{block-name.$uiA}-animate-slide-in-#{$slide-in-direction}-2-enter-active, .#{block-name.$uiA}-animate-slide-in-#{$slide-in-direction}-2-appear-active {
    opacity: 1;
    transform: translate(0);
    transition: opacity 200ms, transform 200ms;
  }

  .#{block-name.$uiA}-animate-slide-in-#{$slide-in-direction}-2-exit {
    transform: translate(0);
    opacity: 1;
  }

  .#{block-name.$uiA}-animate-slide-in-#{$slide-in-direction}-2-exit-active {
    opacity: 0;
    transform: $slide-in-value;
    transition: opacity 200ms, transform 200ms;
  }
}

// .#{$uiA+$a-sd-name+$slide-down-height}-enter, .#{$uiA+$a-sd-name+$slide-down-height}-appear {
//   width: 35px;
//   transition: #{$a-slide-max-h};
//   max-height: 0;
//   overflow: hidden;
// }
// .#{$uiA+$a-sd-name+$slide-down-height}-enter-active, .#{$uiA+$a-sd-name+$slide-down-height}-appear-active {
//   opacity: 1;
//   max-height: #{$slide-down-height}px;
// }
// .#{$uiA+$a-sd-name+$slide-down-height}-exit {
//   opacity: 1;
//   transition: #{$a-slide-max-h};
//   max-height: #{$slide-down-height}px;
// }
// .#{$uiA+$a-sd-name+$slide-down-height}-exit-active {
//   max-height: 0;
//   opacity: 0;
// }


// .#{$uiA}-animate-slide-in-top-2-enter, .#{$uiA}-animate-slide-in-top-2-appear {
//   opacity: 0;
//   transform: translateY(10px);
// }

// .#{$uiA}-animate-slide-in-top-2-enter-active, .#{$uiA}-animate-slide-in-top-2-appear-active {
//   opacity: 1;
//   transform: translateY(0);
//   transition: opacity 200ms, transform 200ms;
// }

// .#{$uiA}-animate-slide-in-top-2-exit {
//   opacity: 1;
// }

// .#{$uiA}-animate-slide-in-top-2-exit-active {
//   opacity: 0;
//   transition: opacity 200ms, transform 200ms;
// }
