@keyframes burnin {
  0%   {opacity: 0.4;}
  20%  {opacity: 0.6;}
  40%  {opacity: 0.8;}
  60%  {opacity: 1.0;}
  80%  {opacity: 0.8;}
  90%  {opacity: 0.6;}
  100% {opacity: 0.4;}
}

.#{$uiA}-animate-burnin {
  animation-name: burnin;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(.5, 0, 1, 1);
  animation-duration: 0.7s;
}

$a-slide-down-heights-set: (50, 500);
$a-sd-name: "-animate-slide-down-";
$a-popup-name: "-animate-popup";

@each $slide-down-height in $a-slide-down-heights-set {
  $a-sd-delta: $slide-down-height / 2000;
  $a-slide-max-h: max-height (0.3 + $a-sd-delta + s) ease-in, opacity (0.2 + $a-sd-delta + s) ease-in;
  .#{$uiA+$a-sd-name+$slide-down-height}-enter, .#{$uiA+$a-sd-name+$slide-down-height}-appear {
    opacity: 0;
    transition: #{$a-slide-max-h};
    max-height: 0;
    overflow: hidden;
  }
  .#{$uiA+$a-sd-name+$slide-down-height}-enter-active, .#{$uiA+$a-sd-name+$slide-down-height}-appear-active {
    opacity: 1;
    max-height: #{$slide-down-height}px;
  }
  .#{$uiA+$a-sd-name+$slide-down-height}-exit {
    opacity: 1;
    transition: #{$a-slide-max-h};
    max-height: #{$slide-down-height}px;
  }
  .#{$uiA+$a-sd-name+$slide-down-height}-exit-active {
    max-height: 0;
    opacity: 0;
  }
}


$a-popup: transform 0.5s ease-in, opacity 0.5 ease-in;
.#{$uiA+$a-popup-name}-enter, .#{$uiA+$a-popup-name}-appear {
  opacity: 0;
  transition: #{$a-popup};
  transform: scale(0.9);
}
.#{$uiA+$a-popup-name}-enter-active, .#{$uiA+$a-popup-name}-appear-active {
  opacity: 1;
  transform: scale(1);
}
.#{$uiA+$a-popup-name}-exit {
  opacity: 1;
  transition: #{$a-popup};
  transform: scale(1);
}
.#{$uiA+$a-popup-name}-exit-active {
  max-height: 0;
  opacity: 0;
  transform: scale(0.9);
}
