@use "sass:map";
@use "sass:string";
@use "../../../from-dictionary/stylesheets/block-name/block-name";
@use "../../../from-dictionary/stylesheets/color/color";
@use "../../../from-dictionary/stylesheets/color/color-default";
@use "../utils/functions/color-cp";
@use "settings/settings";

$a-borders: null, "-top", "-right", "-bottom", "-left";
$a-border-types: (
  "-none": 0,
  "-panel": solid 1px color-default.$color-default-border,
  "-brand": solid 1px color-cp.color-cp("brand-primary"),
  "-viking-blue-darken": solid 1px color-cp.color-cp("viking-blue-darken-12"),
  "-light": dotted 1px color-default.$color-default-border,
  "-dashed": dashed 1px color-cp.color-cp("plain-gray"),
  "-panel-3": solid 3px color-default.$color-default-border,
  "-current-2": solid 2px currentColor,
  "-1-s-transparent": 1px solid transparent
);

$a-border-radiuses: (null: 3px, "-none": 0, "-half": 50%, "-5": 5px, "-10": 10px, "-15": 15px, "-20": 20px);

$a-border-colors: ("-transparent": transparent, "-brand": color-cp.color-cp("brand-primary"), "-current": currentColor);

@mixin a-border($border: null, $border-value: map.get($a-border-types, "-panel")) {
  border#{$border}: string.unquote("#{$border-value}#{settings.$a-important}");
}

@mixin a-border-color($border-color) {
  border-color: string.unquote("#{$border-color}#{settings.$a-important}");
}

@mixin a-border-radius($border-radius: map.get($a-border-radiuses, null)) {
  border-radius: string.unquote("#{$border-radius}#{settings.$a-important}");
}

//TODO: Eugene should clean this
.#{block-name.$uiA}-border-radius-50\% {
  border-radius: 50%#{settings.$a-important};
}

@each $border in $a-borders {
  @each $border-type-name, $border-value in $a-border-types {
    .#{block-name.$uiA}-border#{$border}#{$border-type-name} {
      @include a-border($border, $border-value);
    }
  }
}

@each $border-radius-name, $border-radius in $a-border-radiuses {
  .#{block-name.$uiA}-border-radius#{$border-radius-name} {
    @include a-border-radius($border-radius);
  }
}

@each $border-color-name, $border-color in $a-border-colors {
  .#{block-name.$uiA}-border-color#{$border-color-name} {
    @include a-border-color($border-color);
  }
}
