@use "sass:string";
@use "../../../from-dictionary/stylesheets/block-name/block-name";
@use "../../../from-dictionary/stylesheets/color/color-map";
@use "../utils/functions/color";
@use "settings/settings";

@each $color-name, $color-value in color-map.$a-color {
  .#{block-name.$uiA}-color-#{"" + $color-name} {
    color: string.unquote("#{$color-value}#{settings.$a-important}");
  }

  .#{block-name.$uiA}-color-hover-#{"" + $color-name}:hover {
    color: string.unquote("#{$color-value}#{settings.$a-important}");
  }

  .#{block-name.$uiA}-color-bg-#{"" + $color-name} {
    background-color: string.unquote("#{$color-value}#{settings.$a-important}");
  }

  .#{block-name.$uiA}-color-bg-hover-#{"" + $color-name}:hover {
    background-color: string.unquote("#{$color-value}#{settings.$a-important}");
  }
}

.#{block-name.$uiA}-color-inherit {
  color: string.unquote("inherit#{settings.$a-important}");
}

.#{block-name.$uiA}-color-bg-inherit {
  background-color: string.unquote("inherit#{settings.$a-important}");
}

.#{block-name.$uiA}-color-bg-gallery-50\% {
  background-image: linear-gradient(45deg, color.color("gallery") 25%, #ffffff 25%, #ffffff 50%, color.color("gallery") 50%, color.color("gallery") 75%, #ffffff 75%, #ffffff 100%);
  background-size: 2.83px 2.83px;
}
