@use "../../../from-dictionary/stylesheets/block-name/block-name";
@use "settings/settings";

$a-display-properties: (
  "-f": "flex",
  "-f-inline": "inline-flex",
  "-block": "block",
  "-inline": "inline",
  "-inline-block": "inline-block",
  "-hide": "none",
  "-table": "table",
  "-inline-table": "inline-table",
  "-table-row": "table-row",
  "-table-cell": "table-cell",
  "-g": "grid",
  "-g-inline": "inline-grid"
);

@each $display-property-shorthand, $display-property in $a-display-properties {
  .#{block-name.$uiA}#{$display-property-shorthand} {
    display: #{$display-property}#{settings.$a-important};
  }
}