@use "../../../from-dictionary/stylesheets/block-name/block-name";
@use "settings/filter-settings";

@for $i from 1 through 9 {
  .#{block-name.$uiA}-dimmed-#{$i} {
    @include filter-settings.a-dimmed($i);
  }
}
