@use "sass:string";
@use "../../../from-dictionary/stylesheets/block-name/block-name";
@use "../utils/functions/px";
@use "settings/settings";

$space-properties: ("p": "padding", "m": "margin");

$space-directions: (null: null, "-top": "-top", "-right": "-right", "-bottom": "-bottom", "-left": "-left", "-x": "-left" "-right", "-y": "-top" "-bottom");

$space-sizes: (null: settings.$space-normal, "-auto": auto, "-small": settings.$space-small, "-large": settings.$space-large, "-none": 0);

@each $property-namespace, $property in $space-properties {
  @each $direction-namespace, $direction-rules in $space-directions {
    @each $size-namespace, $size in $space-sizes {
      @each $ng in settings.$a-negative-list {
        @if $ng == "-" and $property-namespace == "p" {}
        @else {
          @if $ng == "-" and $size-namespace == "-auto" {}
          @else {
            @if $ng == "-" and $size-namespace == "-none" {}
            @else {
              @if $size-namespace == "-auto" and $property-namespace == "p" {}
              @else {
                .#{block-name.$uiA}-#{$property-namespace}#{$direction-namespace}#{$size-namespace}#{$ng} {
                  @each $direction in $direction-rules {
                    #{$property}#{$direction}: string.unquote("#{$ng}#{$size}#{settings.$a-important}");
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@each $i in settings.$a-iterate-list {
  @each $property-namespace, $property in $space-properties {
    @each $direction-namespace, $direction-rules in $space-directions {
      @each $ng in settings.$a-negative-list {
        @if $ng == "-" and $property-namespace == "p" {}
        @else {
          .#{block-name.$uiA}-#{$property-namespace}#{$direction-namespace}-#{$i}#{$ng} {
            @each $direction in $direction-rules {
              #{$property}#{$direction}: #{$ng}#{px.px($i)}#{settings.$a-important};
            }
          }
          @if $i > 0 and $i < 101 {
            .#{block-name.$uiA}-#{$property-namespace}#{$direction-namespace}-#{$i}\%#{$ng} {
              @each $direction in $direction-rules {
                #{$property}#{$direction}: #{$ng}#{$i}#{'%'}#{settings.$a-important};
              }
            }
          }
        }
      }
    }
  }
}
