@use "sass:string";
@use "../../../from-dictionary/stylesheets/block-name/block-name";
@use "settings/settings";

// ACSS Shadow
//
// Shadow modifiers.
//
// Markup:
// _a-shadow-kss.html
//
// .env-a-shadow - Default shadow.
// .env-a-shadow-strong - Strong Shadow.
// .env-a-shadow-xstrong - Extra Strong Shadow.
// .env-a-shadow-inset-top - Inset Top Shadow.
// .env-a-shadow-inset-bottom - Inset Bottom Shadow.
// .env-a-shadow-xstrong - Extra Strong Shadow.
// .env-a-shadow-none - No Shadow.
//
// Moddescription: Modifiers.
//
// Defaultmodifier: true
//
// Weight: 510
//
// Styleguide ACSS Shadow

$shadows: (null: settings.$a-card-shadow, "-strong": settings.$a-card-shadow-strong, "-xstrong": settings.$a-card-shadow-xstrong, "-none": "none");

@each $shadow-name, $shadow-value in $shadows {
  .#{block-name.$uiA}-shadow#{$shadow-name} {
    box-shadow: string.unquote("#{$shadow-value}#{settings.$a-important}");
  }
}

.#{block-name.$uiA}-shadow-inset-top {
  box-shadow: string.unquote(
    "inset 0 4px 4px -4px rgba(0, 0, 0, 0.2), " +
    "inset 0 -4px 4px -4px transparent#{settings.$a-important}"
  );
}

.#{block-name.$uiA}-shadow-inset-bottom {
  box-shadow: string.unquote(
    "inset 0 -4px 4px -4px rgba(0, 0, 0, 0.2), " +
    "inset 0 4px 4px -4px transparent#{settings.$a-important}"
  );
}

.#{block-name.$uiA}-shadow-inset-y {
  box-shadow: string.unquote(
    "inset 0 4px 4px -4px rgba(0, 0, 0, 0.2), " +
    "inset 0 -4px 4px -4px transparent, " +
    "inset 0 -4px 4px -4px rgba(0, 0, 0, 0.2), " +
    "inset 0 4px 4px -4px transparent#{settings.$a-important}"
  );
}