$a-text-aligns: left, right, center, justify;

@mixin a-text-bold {
  font-weight: bold#{$a-important};
}

@mixin a-text-italic {
  font-style: italic#{$a-important};
}

@mixin a-line-height($i: 5) {
  line-height: unquote("#{$i / 10}#{$a-important}");
}

@mixin a-font-size($i: 14) {
  font-size: #{$i}px#{$a-important};
}

@mixin a-font-size-em($i: 10) {
  font-size: #{$i / 10}em#{$a-important};
}

@mixin a-font-size-rem($i: 10) {
  font-size: #{$i / 10}rem#{$a-important};
}

@mixin a-text-align($i: left) {
  text-align: unquote("#{$i}#{$a-important}");
}

@for $i from 5 through 36 {
  .#{$uiA}-font-size-#{$i} {
    @include a-font-size($i);
  }

  .#{$uiA}-font-size-#{$i}em {
    @include a-font-size-em($i);
  }

  .#{$uiA}-font-size-#{$i}rem {
    @include a-font-size-rem($i);
  }
}

@each $font-size-percent in $a-font-size-percent {
  .#{$uiA}-font-size-#{$font-size-percent}\% {
    font-size: #{$font-size-percent}#{'%'}#{$a-important};
  }
}

@for $i from 5 through 15 {
  .#{$uiA}-line-height-#{$i} {
    @include a-line-height($i);
  }
}

.#{$uiA}-line-height-normal {
  line-height: normal#{$a-important};
}

@each $a-text-align in $a-text-aligns {
  .#{$uiA}-text-align-#{$a-text-align} {
    @include a-text-align($a-text-align);
  }
}

// .#{$uiA}-font-size-95\% {
//   font-size: 95%#{$a-important};
// }

// .#{$uiA}-font-size-90\% {
//   font-size: 90%#{$a-important};
// }

.#{$uiA}-text-ellipsis, .#{$uiA}-ellipsis {
  @include a-text-ellipsis;
}

.#{$uiA}-text-default {
  color: color("default")#{$a-important};
  &:hover {
    text-decoration: none#{$a-important};
    color: color("default")#{$a-important};
  }
}

.#{$uiA}-text-link {
  color: color("brand-blue")#{$a-important};
  &:hover {
    color: darken(color("brand-blue"), 10%)#{$a-important};
    text-decoration: none#{$a-important};
  }
}

.#{$uiA}-font-family-default {
  font-family: 'Source Sans Pro', Arial, sans-serif#{$a-important};
}

.#{$uiA}-nowrap {
  white-space: nowrap#{$a-important};
}

.#{$uiA}-wrap {
  white-space: normal#{$a-important};
}

.#{$uiA}-bold {
  @include a-text-bold;
}

.#{$uiA}-semibold {
  font-weight: 600;
}

.#{$uiA}-italic {
  @include a-text-italic;
}

.#{$uiA}-font-weight-normal {
  font-weight: normal#{$a-important};
}

.#{$uiA}-text-underline {
  text-decoration: underline#{$a-important};
}
