@use "sass:color";
@use "sass:string";
@use "sass:math";
@use "../../../from-dictionary/stylesheets/block-name/block-name";
@use "../utils/functions/color" as functions-color;
@use "../utils/mixin";
@use "settings/settings";

$a-text-aligns: left, right, center, justify;

@mixin a-text-bold {
  font-weight: bold#{settings.$a-important};
}

@mixin a-text-italic {
  font-style: italic#{settings.$a-important};
}

@mixin a-line-height($i: 5) {
  line-height: string.unquote("#{math.div($i, 10)}#{settings.$a-important}");
}

@mixin a-font-size($i: 14) {
  font-size: #{$i}px#{settings.$a-important};
}

@mixin a-font-size-em($i: 10) {
  font-size: #{math.div($i, 10)}em#{settings.$a-important};
}

@mixin a-font-size-rem($i: 10) {
  font-size: #{math.div($i, 10)}rem#{settings.$a-important};
}

@mixin a-text-align($i: left) {
  text-align: string.unquote("#{$i}#{settings.$a-important}");
}

@for $i from 5 through 36 {
  .#{block-name.$uiA}-font-size-#{$i} {
    @include a-font-size($i);
  }

  .#{block-name.$uiA}-font-size-#{$i}em {
    @include a-font-size-em($i);
  }

  .#{block-name.$uiA}-font-size-#{$i}rem {
    @include a-font-size-rem($i);
  }
}

@each $font-size-percent in settings.$a-font-size-percent {
  .#{block-name.$uiA}-font-size-#{$font-size-percent}\% {
    font-size: #{$font-size-percent}#{'%'}#{settings.$a-important};
  }
}

@for $i from 5 through 15 {
  .#{block-name.$uiA}-line-height-#{$i} {
    @include a-line-height($i);
  }
}

.#{block-name.$uiA}-line-height-normal {
  line-height: normal#{settings.$a-important};
}

@each $a-text-align in $a-text-aligns {
  .#{block-name.$uiA}-text-align-#{$a-text-align} {
    @include a-text-align($a-text-align);
  }
}

// .#{$uiA}-font-size-95\% {
//   font-size: 95%#{$a-important};
// }

// .#{$uiA}-font-size-90\% {
//   font-size: 90%#{$a-important};
// }

.#{block-name.$uiA}-text-ellipsis, .#{block-name.$uiA}-ellipsis {
  @include mixin.a-text-ellipsis;
}

.#{block-name.$uiA}-text-ellipsis-fr, .#{block-name.$uiA}-ellipsis-fr {
  > .fr-view, > .fr-view > * {
    @include mixin.a-text-ellipsis;
  }
}

.#{block-name.$uiA}-text-default {
  color: functions-color.color("default")#{settings.$a-important};
  &:hover {
    text-decoration: none#{settings.$a-important};
    color: functions-color.color("default")#{settings.$a-important};
  }
}

.#{block-name.$uiA}-text-link {
  color: functions-color.color("brand-blue")#{settings.$a-important};
  &:hover {
    color: color.adjust(functions-color.color("brand-blue"), $lightness: -10%)#{settings.$a-important};
    text-decoration: none#{settings.$a-important};
  }
}

.#{block-name.$uiA}-font-family-default {
  font-family: 'Source Sans Pro', Arial, sans-serif#{settings.$a-important};
}

.#{block-name.$uiA}-nowrap {
  white-space: nowrap#{settings.$a-important};
}

.#{block-name.$uiA}-wrap {
  white-space: normal#{settings.$a-important};
}

.#{block-name.$uiA}-bold {
  @include a-text-bold;
}

.#{block-name.$uiA}-semibold {
  font-weight: 600;
}

.#{block-name.$uiA}-italic {
  @include a-text-italic;
}

.#{block-name.$uiA}-font-weight-normal {
  font-weight: normal#{settings.$a-important};
}

.#{block-name.$uiA}-text-underline {
  text-decoration: underline#{settings.$a-important};
}

.#{block-name.$uiA}-text-decoration-none {
  text-decoration: none#{settings.$a-important};
}
