@use "../../../from-dictionary/stylesheets/block-name/block-name";
@use "settings/settings";

// ACSS Transform
//
// Transform modifiers.
//
// Markup:
// _a-transform-kss.html
//
// .env-a-translate-x-50%- - Transform X-Tranaslate -50%.
// .env-a-translate-y-50%- - Transform Y-Tranaslate -50%.
// .env-a-translate-y-3- - Transform Y Tranaslate -3px.
// .env-a-translate-y-5- - Transform Y Tranaslate -5px.
// .env-a-translate-z-0 - Transform Z Tranaslate 0.
// .env-a-transform-scale-2 - Transform Scale 2X.
// .env-a-transform-origin-left-top.env-a-transform-rotate-180 - Transform origin left top.
// .env-a-transform-rotate-180 - Transform rotate 180 deg.
//
// Moddescription: Modifiers.
//
// Defaultmodifier: true
//
// Weight: 500
//
// Styleguide ACSS Transform


.#{block-name.$uiA}-translate-x-50\%- {
  transform: translateX(-50%)#{settings.$a-important};
}

.#{block-name.$uiA}-translate-y-50\%- {
  transform: translateY(-50%)#{settings.$a-important};
}

.#{block-name.$uiA}-translate-50\%- {
  transform: translate(-50%, -50%)#{settings.$a-important};
}

.#{block-name.$uiA}-transform-scale-2 {
  transform: scale(2)#{settings.$a-important};
}

.#{block-name.$uiA}-translate-y-3- {
  transform: translateY(-3px)#{settings.$a-important};
}

.#{block-name.$uiA}-translate-y-5- {
  transform: translateY(-5px)#{settings.$a-important};
}

.#{block-name.$uiA}-translate-z-0 {
  transform: translateZ(0)#{settings.$a-important};
}

.#{block-name.$uiA}-transform-origin-left-top {
  transform-origin: left top#{settings.$a-important};
}

.#{block-name.$uiA}-transform-rotate-180 {
  transform: rotate(180deg)#{settings.$a-important};
}