@use "sass:map";
@use "sass:string";
@use "../../../from-dictionary/stylesheets/block-name/block-name";
@use "../../../from-dictionary/stylesheets/z/z";
@use "settings/settings";

$z-top: z.$z-top;

$a-z-indexes: ("auto": auto, "0": 0, "1": 1, "2": 2, "3": 3, "4": 4, "5": 5, "1-": -1, "2-": -2, "3-": -3, "4-": -4, "5-": -5, "top": $z-top, "top-1": $z-top - 1, "top-2": $z-top - 2, "top-3": $z-top - 3, "top-4": $z-top - 4, "top-5": $z-top - 5);

@mixin a-z-index($z-index: map.get($a-border-types, "auto")) {
  z-index: string.unquote("#{$z-index}#{settings.$a-important}");
}

@each $z-property, $z-index in $a-z-indexes {
  .#{block-name.$uiA}-z-#{$z-property} {
    @include a-z-index($z-index);
  }
}

.#{block-name.$uiA}-isolate {
  isolation: isolate#{settings.$a-important};
}
