@use "../../a/settings/settings";
@use "../../../../from-dictionary/stylesheets/block-name/block-name";
@use "../../../../from-dictionary/stylesheets/color/color";

// S3 Uploader
//
// Weight: 1260
//
// Styleguide S3 Uploader

.#{block-name.$uiS3Uploader} {

  $this: &;

  padding: 3px;
  border-radius: settings.$card-border-radius;
  border: 1px solid color.$border;

}