@use "sass:color";
@use "../../a/settings/settings";
@use "../../from-dictionary/block-name/block-name";
@use "../../from-dictionary/color/color" as color-color;
@use "../../utils/functions/color" as functions-color;
@use "../../utils/functions/color-cp";
@use "../../utils/mixin";

// Table
//
// Weight: 1200
//
// Styleguide Table

@keyframes debounce-shift {
  0%   {transform: translateX(100%); }
  99%  {transform: translateX(100%); }
  100% {transform: translateX(0); }
}
@keyframes opacity-shift {
  0%   {opacity: 0; }
  100% {opacity: 1; }
}

.#{block-name.$uiTable} {

  $this: &;

  @include mixin.flex(column);

  &__header {
    height: 50px;
    @include mixin.flex();
    flex: 0 0 50px;
    background-color: functions-color.color("alabaster");
    padding: 5px 0;
    border-top: settings.$panel-border;
    border-bottom: settings.$panel-border;
    overflow: hidden;
  }

  &__subheader {
    @include mixin.flex();
    flex: 0 0 auto;
    background-color: functions-color.color("pale-gray");
    padding: 5px 0;
    border-bottom: settings.$panel-border;
    overflow: hidden;
  }

  &__content {
    padding-right: 10px;
    overflow: hidden;
    line-height: normal;
    &--ellipsis-hover {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      max-width: 100%;
      text-overflow: ellipsis;
      &:hover {
        width: auto;
        display: flex;
        align-items: center;
        overflow: auto;
        max-width: auto;
        position: absolute;
        background-color: inherit;
        border-top: 1px solid transparent;
        box-shadow: 2px 0 3px -1px rgba(0, 0, 0, 0.25);
        height: 40px;
        border-radius: 0 20px 20px 0;
        z-index: 3;
        padding-right: 25px;
        &::after {
          content: "";
          display: inline-block;
          width: 0;
          height: 0;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-right: 5px solid color-color.$plain-gray;
          position: absolute;
          top: 15px;
          right:12px;
        }
      }
    }
  }

  &__cell {
    // border: 1px solid #999999;
    @include mixin.flex(a-center);
    height: 100%;
    background-color: inherit;
    overflow: hidden;
    &--hidden {
      flex: 1 1 0;
      overflow: visible;
      position: relative;
      justify-content: flex-end;
      min-width: 0;
      #{$this}__content {
        opacity: 0;
        transform: translateX(100%);
        display: none;
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
        margin: 0;
        padding-right: 0;
        // padding-left: 10px;
        background-color: inherit;
      }
    }
  }

  &__row {
    @include mixin.flex();
    border-bottom: settings.$panel-border;
    height: 40px;
    flex: 0 0 40px;
    overflow: hidden;
    max-width: 100%;
    &--active, &:hover {
      #{$this}__cell--hidden {
        #{$this}__content {
          display: flex;
          animation: debounce-shift .02s ease .2s 1 normal forwards,
                     opacity-shift .3s ease 0.2s 1 normal forwards;
        }
      }
    }
    &:hover {
      background-color: color-cp.color-cp("paint-gray");
    }
    &--active {
      background-color: color.adjust(functions-color.color("pale-blue"), $lightness: 3%);
    }
    &--folder {
      background-color: color.adjust(functions-color.color("pale-blue"), $lightness: 0%);
      // border-bottom-color: functions-color.color("viking-blue");
      &-closed {
        border-bottom-color: functions-color.color("viking-blue");
      }
      & #{$this}__cell {
        background-color: transparent;
      }
    }
    &--in-folder {
      background-color: color.adjust(functions-color.color("pale-blue"), $lightness: 7%);
      // border-bottom-color: functions-color.color("viking-blue");
      & #{$this}__cell {
        background-color: transparent;
      }
      // &:first-child {
      //   border-top-color: color.adjust(functions-color.color("viking-blue"), $lightness: 7%);;
      // }
      &-last {
        border-bottom-color: functions-color.color("viking-blue");
      }
    }
    &--marker {
      position: relative;
      overflow: visible;
      &::before {
        content: "";
        display: flex;
        position: absolute;
        width: 3px;
        height: calc(100% + 1px);
        background-color: currentColor;
        top: 0;
        left: -3px;
      }
    }
  }
}