- var acssKeywords = ["Color", "Shadow", "Border", "Font&nbsp;Size", "Background&nbsp;Color", "Flex", "Block", "Width", "Height", "Margin", "Padding", "Position", "Hover", "Cursor", "..."]

- var checkboxBaseClasses = ["env-checkbox--check", "env-checkbox--toggle", "env-checkbox--radio"]

- var buttonBaseClasses = ["env-button--default", "env-button--mint-blue", "env-button--light-blue","env-button--green", "env-button--red"]

- var buttonModClasses = ["", "env-button--round", "env-button--circle"]

- var buttonSizeClasses = ["env-button--xsmall", "env-button--small", "", "env-button--large"]

- var buttonSwitchSizeClasses = ["", "env-button-switch--small"]

- var collapserBaseClasses = ["", "env-collapser--right", "env-collapser--top", "env-collapser--left" ]

- var collapserModClasses = ["", "env-collapser--bold"]

- var collapserSizeClasses = ["env-collapser--small", "", "env-collapser--large"]

- var tablePlaceholderWidths = [150, 50, 90, 90, 15, 75]

- var formRowBaseLabelClassesData = ["env-form-row__label--short", "", "env-form-row__label--long", "env-form-row__label--xlong"]

- var formRowBaseLabelTextData = ["Short Label", "Normal Label", "Long Label", "x-Long Label"]

- var formRowBaseShiftedLabelTextData = ["Short Row Shift", "Normal Row Shift", "Long Row Shift", "x-Long Row Shift"]

- var formRowLabelShiftsClassesData = ["env-form-row--push-right-short", "env-form-row--push-right","env-form-row--push-right-long", "env-form-row--push-right-xlong"]

- var formRowWidthClassesData = ["", "Long Label"]

- var formRowDirectionClasses = ["", "env-form-row--column"]