<!-- Multiline flex unit -->
div(class=uiA`f h-125`)
  div(class=uiA`m-bottom-auto h-25 w-25 relative color-bg-medium-gray`)
    span(class=`{{modifier_class}} ${uiA`p-10 color-bg-purple-blue absolute left`}`)
