<!-- Multiline flex unit -->
div(class=`{{modifier_class}} ${uiA`f f-wrap h-150`}`)
  span(class=uiA`p-5 m-5 color-bg-purple-blue color-white font-size-10 w-100%`)
    | 1
  span(class=uiA`p-5 m-5 color-bg-purple-blue color-white font-size-36`)
    | 2
  span(class=uiA`p-5 m-5 color-bg-purple-blue color-white font-size-20`)
    | 3
