<!-- Multiline flex unit -->
div(class=uiA`f w-150`)
  div(class=uiA`m-top-auto h-25 w-25 relative color-bg-medium-gray m-left-auto`)
    span(class=`{{modifier_class}} ${uiA`p-10 color-bg-purple-blue absolute top`}`)
