<!-- Button Switch -->
- var switchButtonData = ["Option 1", "Option 2", "Option 3", "Option 4"]
div(class=`${uiButtonSwitch``} {{modifier_class}}`)
  each item, index in switchButtonData
    button(class=`${uiButtonSwitch`__button --active:${index == 2 }`} ${index == 7 ? 'env-calendar__button--disabled' : ''}` disabled=(index == 4 ? 'disabled' : false))
      = item