.kss-test-flex
  // No state
  button.env-button(class='{{modifier_class}}' tabindex='0')
    div.env-button__content(tabindex='-1')
      | Button
  | &nbsp;
  // Hover state
  button.env-button.env-button--hover(class='{{modifier_class}}' tabindex='0')
    div.env-button__content(tabindex='-1')
      | Button
  | &nbsp;
  // Focused state
  button.env-button.env-button--focus(class='{{modifier_class}}' tabindex='0')
    div.env-button__content(tabindex='-1')
      | Button
  | &nbsp;
  // Active state
  button.env-button.env-button--active(class='{{modifier_class}}' tabindex='0')
    div.env-button__content(tabindex='-1')
      | Button
  | &nbsp;
  // Disable state
  button.env-button.env-button--disabled(class='{{modifier_class}}' tabindex='0')
    div.env-button__content(tabindex='-1')
      | Button