@use "../../from-dictionary/block-name/block-name";
@use "../../from-dictionary/color/color" as color-color;
@use "../../utils/functions/color";

// Show on Hover
//
// Weight: 1330
//
// Styleguide Show on Hover

.#{block-name.$uiShowOnHover} {

  $this: &;

  &__content {
    visibility: hidden;
  }

  &--highlight {
    #{$this}__content {
      visibility: visible;
      color: color-color.$medium-gray;
    }
  }

  &--link {
    #{$this}__content {
      color: color-color.$medium-gray;
    }
  }

  &--highlight {
    &:hover {
      #{$this}__content {
        color: color.color("viking-blue");
      }
    }
  }

  &--link {
    &:hover {
      #{$this}__content {
        color: color-color.$brand-blue;
      }
    }
  }

  &:hover {
    #{$this}__content {
      visibility: visible;
    }
  }
}