@use "sass:color";
@use "../../a/settings/settings";
@use "../../../../from-dictionary/stylesheets/block-name/block-name";
@use "../../../../from-dictionary/stylesheets/color/color-default";
@use "../../../../from-dictionary/stylesheets/shape/shape";
@use "../../../../from-dictionary/stylesheets/z/z";
@use "../../utils/functions/color" as functions-color;
@use "../../utils/functions/color-cp";

// Modal
//
// Weight: 1232
//
// Styleguide Modal

.#{block-name.$uiModal} {

  $this: &;

  position: fixed;
  z-index: z.$z-top - 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  & > #{$this}__overlay {
    position: fixed;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(functions-color.color("black"), .4);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    &::before {
      content: '';
      height: 12%;
      flex: 1 1 auto;
    }
    &::after {
      content: '';
      height: 24%;
      flex: 2 1 auto;
    }
  }

  &#{$this}--enlarged > #{$this}__overlay {
    &::before {
      height: 6%;
    }
    &::after {
      height: 12%;
    }
  }

  #{$this}__modal {
    $min-vh: 300px;
    $min-pr: 75%;
    display: flex;
    flex-direction: column;
    outline: none;
    position: relative;
    // margin-top: 12%;
    width: 500px;
    max-width: 100%;
    max-height: 100%;
    // border: 1px solid $border;
    border-radius: settings.$card-border-radius;
    background-color: functions-color.color("white");
    box-shadow: settings.$a-card-shadow-strong;
  }

  #{$this}__header {
    display: flex;
    // justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 55px;
    font-size: 19px;
    background-color: functions-color.color("brand-primary");
    border-bottom: shape.$shape-border color.adjust(functions-color.color("brand-primary"), $lightness: -10%);
    border-radius: shape.$shape-border-radius shape.$shape-border-radius 0 0;
    color: functions-color.color("athens-gray");
    margin-top: 0;
    padding-left: 10px;
    &--alert {
      background-color: functions-color.color("rose");
      border-bottom: shape.$shape-border color.adjust(functions-color.color("rose"), $lightness: -15%);
    }
    &--warning {
      color: color-cp.color-cp("white");
      background-color: functions-color.color("orange");
      border-bottom: shape.$shape-border color.adjust(functions-color.color("orange"), $lightness: -6%);
    }
  }

  #{$this}__content {
    width: 100%;
    min-height: 75px;
    overflow: auto;
    // padding: 15px 10px;
  }

  #{$this}__footer {
    border-top: shape.$shape-border color-default.$color-default-border;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 55px;
    background-color: functions-color.color("gallery");
    border-radius: 0 0 shape.$shape-border-radius shape.$shape-border-radius;
    padding-left: 10px;
  }
}
