@use "../../from-dictionary/block-name/block-name";
@use "../../from-dictionary/color/color-default";
@use "../../utils/functions/color";
@use "../../utils/functions/color-cp";

// Divider
//
// Weight: 1280
//
// Styleguide Divider

.#{block-name.$uiDivider} {

  $this: &;

  display: flex;
  align-items: center;
  width: 100%;
  gap: 5px;
  max-width: 100%;

  &__content {
    color: color.color("variable");
    white-space: nowrap;
    overflow: hidden;
    min-width: 0;
    text-overflow: ellipsis;
  }

  &::before, &::after {
    content: '';
    flex: 1 0 25px;
    min-width: 25px;
    height: 1px;
    min-height: 1px;
    border-top: 1px solid color.color("variable");
  }

  &--left {
    gap: 0;
    #{$this}__content {
      margin-right: 5px;
    }
    &::after {
      border-top: 1px dotted color-default.$color-default-border;
    }
    &::before {
      max-width: 0;
      min-width: 0;
    }
  }

  &--form {
    gap: 0;
    #{$this}__content {
      color: color-cp.color-cp("medium-gray");
      margin-right: 5px;
    }
    &::after {
      border-top: 1px dotted color-default.$color-default-border;
    }
    &::before {
      max-width: 0;
      min-width: 0;
    }
  }
}