// Input Text
//
// Weight: 1160
//
// Styleguide Input Text

.#{$uiInputText} {

  $this: &;

  display: flex;
  height: $a-default-control-height;
  padding: 0 10px;
  font-size: $a-default-font-size;
  color: color("default");
  background-color: color("white");
  background-image: none;
  border: $a-border-input;
  border-radius: $a-default-border-radius;
  transition: $a-focus-transition;

  &:focus, &--focus {
    @include a--focus();
  }

  @include a-placeholder-text();

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  &::-ms-clear {
    display: none;
  }

  &[disabled], &[readonly], &--disabled {
    background-color: color("gallery");
    opacity: 1;
  }

  &[disabled], &--disabled {
    fieldset[disabled] & {
      cursor: $a-cursor-disabled;
    }
  }

  &--small {
    height: 25px;
  }

  &[type="number"] {
    padding-right: 0;
  }

  &--plain {
    border-color: transparent;
    background-color: transparent;
    padding: 0 10px;
    &:hover {
      background-color: color("gallery");
    }
    &[disabled], &[readonly], &--disabled {
      background-color: transparent;
      color: color("plain-gray");
    }
  }

  &--round {
    border-radius: $a-default-control-height/2;
  }

  &--stack-left, &--stack-left:focus {
    border-radius: $a-default-border-radius 0 0 $a-default-border-radius;
    &:not(#{$this}--plain) {
      border-right: 0;
    }
  }

  &--stack-right, &--stack-right:focus {
    border-radius: 0 $a-default-border-radius $a-default-border-radius 0;
  }

  &--stack, &--stack:focus {
    border-radius: 0;
    &:not(#{$this}--plain) {
      border-right: 0;
    }
  }

  &--error {
    border-color: color("red");
    &:focus {
      @include a--focus(true, color("red"), color("red"), 0.2);
    }
  }
}