@use "sass:math";
@use "../../a/settings/settings";
@use "../../../../from-dictionary/stylesheets/block-name/block-name";
@use "../../utils/functions/color";
@use "../../utils/mixin";

// Input Text
//
// Weight: 1160
//
// Styleguide Input Text

.#{block-name.$uiInputText} {

  $this: &;

  display: flex;
  height: settings.$a-default-control-height;
  padding: 0 10px;
  font-size: settings.$a-default-font-size;
  color: color.color("default");
  background-color: color.color("white");
  background-image: none;
  border: settings.$a-border-input;
  border-radius: settings.$a-default-border-radius;
  transition: settings.$a-focus-transition;

  &:focus, &--focus {
    @include mixin.a--focus();
  }

  @include mixin.a-placeholder-text();

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  &::-ms-clear {
    display: none;
  }

  &[disabled], &[readonly], &--disabled {
    background-color: color.color("gallery");
    opacity: 1;
  }

  &[disabled], &--disabled {
    fieldset[disabled] & {
      cursor: settings.$a-cursor-disabled;
    }
  }

  &--small {
    height: 25px;
  }

  &[type="number"] {
    padding-right: 0;
  }

  &--plain {
    border-color: transparent;
    background-color: transparent;
    padding: 0 10px;
    &:hover {
      background-color: color.color("gallery");
    }
    &[disabled], &[readonly], &--disabled {
      background-color: transparent;
      color: color.color("plain-gray");
    }
  }

  &--round {
    border-radius: math.div(settings.$a-default-control-height, 2);
  }

  &--stack-left, &--stack-left:focus {
    border-radius: settings.$a-default-border-radius 0 0 settings.$a-default-border-radius;
    &:not(#{$this}--plain) {
      border-right: 0;
    }
  }

  &--stack-right, &--stack-right:focus {
    border-radius: 0 settings.$a-default-border-radius settings.$a-default-border-radius 0;
  }

  &--stack, &--stack:focus {
    border-radius: 0;
    &:not(#{$this}--plain) {
      border-right: 0;
    }
  }

  &--error {
    border-color: color.color("red");
    &:focus {
      @include mixin.a--focus(true, color.color("red"), color.color("red"), 0.2);
    }
  }
}